.achivments-holder {
  display: grid;
  padding: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 0fr);
  grid-gap: 5px;
}

.grid-item {
  flex-basis: 33%;
  padding: 10px 20px 10px 20px;
  margin: 2px;
  display: inline-grid;
  width: 200px;
  height: 150px;
}

.inner-achiev {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.avatar-holder {
  display: block;
  vertical-align: middle;
  margin-top: auto;
  height: fit-content;
  margin-bottom: auto;
}

.avatar-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.avatar-name {
  font-size: 11px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 50px;
}

.month-desc {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dot-item {
  display: flex;
  padding: 2px;
}

.dots-holder {
  margin-left: 10px;
  vertical-align: middle;
  margin-top: auto;
  height: fit-content;
  margin-bottom: auto;
}

.dot {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
}

.dot-value {
  font-size: 13px;
}

.crown {
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  display: block;
  margin-bottom: -3px;
  height: 20px;
}

.year-title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}