#main-menu {
  background-color: #009688;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

#logo {
  width: 35px;
  height: 35px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#nav {
  margin: 0;
  padding-right: 0;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0;
}

.menu-item {
  cursor: pointer;
  padding: 15px;
  margin: 2px;
  border-radius: 2px;
  text-decoration: none;
  outline: none;
}