#main-menu {
  background-color: #00796b;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.run-jobs {
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
}

#run-jobs-label {
  margin: 15px;
  font-size: 15px;
}

#run-jobs-img {
  padding-right: 25px;
  padding-left: 25px;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px
}

#logo {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#nav {
  margin: 0;
  padding-right: 0;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0;
}

.menu-item {
  cursor: pointer;
  padding: 15px;
  margin: 2px;
  border-radius: 2px;
  font-size: 14px;
  text-decoration: none;
  outline: none;
}

.sub-menu-ul>.menu-item {
  padding: 8px;
  margin-right: 25px;
}

.sub-menu {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  background-color: #009587;
}

.sub-menu-nav {
  padding-left: 70;
}

.sub-menu-ul {
  margin: 0;
  width: 100%;
  padding-right: 0;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0;
}