.find-next-holder {
  padding: 15px;
  width: fit-content;
  margin: 15px;
  min-width: 260px;
}

.picking-title {
  font-size: 16px;
  color: gray;
}

.pick-box {
  max-width: 260px;
  min-width: 260px;
  min-height: 300px;
  width: fit-content;
  margin: 15px;
  padding: 15px;
  display: block;
}

.group.input-group {
  max-width: 150px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header-title {
  display: inline-block;
  width: fit-content;
  font-size: 12px;
  background-color: transparent;
}

.mini-item {
  padding: 5px 8px 5px 8px;
  display: block;
  margin-bottom: 5px;
}

.pick-value {
  color: gray;
  width: fit-content;
  display: inline-block;
  padding: 3px 1px;
  font-size: 11px;
}

.green-title {
  color: #1c796b;
  font-size: 13px;
}

.header-count {
  margin: auto;
  display: inline-block;
  font-size: 14px;
  float: right;
  background-color: transparent;
}

.preview-header {
  margin-bottom: 15px;
}

.col {
  display: inline-table;
}

.pick-hint {
  color: grey;
  margin-top: 10px;
  padding-left: 2px;
  display: inline-block;
  font-size: 11px;
}

.inprogress-header {
  margin-bottom: 15px;
}

.left-avatar {
  width: fit-content;
  display: inline-grid;
}

.inner-mini-item {
  min-width: 150px;
  vertical-align: middle;
  padding: 3px;
  display: inline-block;
}

.mini-avatar {
  width: 40px;
  height: 40px;
  margin-left:0px;
}

.avatar-name {
  margin-top: -5px;
}

.avatar-holder {
  padding: 3px;
  vertical-align: middle;
}
