@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.all {
  font-family: 'Open Sans', sans-serif;
}

.master-info {
  display: flex;
  border-bottom: 1px solid #cecece70;
}

iframe {
  width: 25%;
}

.manufac-details {
  flex: 4;
  text-align: center;
}

.manufac-details h1 {
  margin: 2px;
}

.manufac-details span {
  display: inline-block;
  margin: 20px;
  font-size: 18px;
}

.lasts-details {
  flex: 2;
  text-align: center;
}

.date {
  display: inline-block;
  margin: 10px 30px 0 30px;
  font-size: 18px;
}

.brands {
}

.brands h3 {
  margin: 12px 0 5px 0;
}

.brands p {
  font-size: 14px;
  display: inline-block;
  margin-left: 25px;
  margin-top: 0;
}

.master-itens {
  text-align: center;
}

.tb-holder {
  width: 100%;
  border-collapse: initial;
  border-spacing: 0 15px;
  background: #f7f7f7;
  position: relative;
  padding: 0 50px;
}

.tb-holder thead {
  border-radius: 5px;
}

.tb-holder th {
  width: 120px;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 99999;
  background: #d8d8d8;
}

.tb-holder th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tb-holder th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tb-holder td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tb-holder td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line-itens {
  /* filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.1)); */
  background: #fff;
}

.line-itens td {
  text-align: center;
  vertical-align: middle;
}

.line-itens td p {
  margin-left: 30px;
  margin-right: 30px;
}

.size {
  font-size: 12px;
  margin-top: -23px;
  display: table-cell;
}

.size-sold {
  font-size: 18px;
  padding: 10px;
}

.subtotal {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  text-align: end;
  position: relative;
  left: 30%;
  font-size: 17px;
}

.footer-details {
  text-align: center;
}

.footer-details p {
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 21px;
  margin-top: 80px;
}

tr:nth-child(even) { background-color: #f2f2f2; }

@media print {
  .tb-holder {
    border-spacing: 0 !important;
    background: #f7f7f7;
    position: relative;
    width: 910px;
  }

  iframe {
    width: 40%;
    margin-bottom: 20px;
    height: 170px;
  }

  .manufac-details h1 {
    font-size: 15px;
  }

  .manufac-details {
    flex: 1;
  }

  .manufac-details span {
    margin-bottom: 2px;
  }

  .brands p {
    margin-left: 10px;
  }

  .tb-holder th {
    border: 1px solid;
  }

  .line-itens td {
    border: 1px solid;
  }

  .tb-holder th:first-child,
  .tb-holder td:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .tb-holder th:last-child,
  .tb-holder td:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .subtotal {
    left: 20%;
    margin: 5px 5px 20px 5px;
  }
}
