
#search-input{
  flex: 100%;
  width: -webkit-fill-available;
  font-size: 15px;
  margin: 10px;
  position: relative;
}

#search-button{
  flex: auto;
  height: fit-content;
  /* margin-top: 10px; */
  /* margin-left: 10px; */
}

.content-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  position: relative;
  grid-gap: 15px;
  max-width: 100%;
  margin-bottom: 200px;
}

.grid-item{
  width: auto;
  min-height: fit-content;
  background: #f3f3f3;
}


.search-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.tag-box{
  min-height: fit-content;
  padding: 0px 10px;
  display: none;
  min-height: 35px;
}



img.dots-glyph {
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 5px;
}


.material-input-holder{
  margin-left: 10px;
  /* margin-right: 10px; */
}

.selectors{
  min-width: fit-content;
  display: flex;
  position: relative;
  background-color: #f3f3f3;
  padding-right: 10px;
  margin-right: 10px;
  padding-top: 5px;
  margin-left: 10px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}


.grid-item .title{
  font-size: 13px !important;
  display: block;
  font-weight: 600;
  color: #5d5b59;
  padding-bottom: 10px;
  margin-top: 3px;
}

.row{display: block;padding: 10px 12px;background-color: white;position: relative;}

.col{margin-right: 10px;display: inline-block;margin-bottom: 8px;}

.min-col .col{
  min-width: 100px;
}

.grid-item .super{font-size: 14px;color: rgb(64, 64, 64);font-weight: 500;display: block;/* margin-right: 5px; */position: relative;min-width: 50px;}


.grid-item .value{font-size: 14px;color: rgb(130, 128, 125);font-weight: 400;display: block;margin-top: 3px;}

.grid-item .right{
  float: right;
  right: 0;
  top: 0;
  color: gray;
  margin-left: 10px;
  font-size: 13px;
  margin-right: 4px;
}

.gray{
  background-color: #f3f3f3;
  border-top: 1px dashed #d8d8d8;
}


.grid-item .high-val{
  font-weight: 600;
  color: #585858;
  font-size: 14px;
}

.grid-item .green-val{
  color: #08ab08;
  font-weight: 900;
  font-size: 15px;
}

.grid-item .red-val{
  color: #e60000;
  font-weight: 900;
  font-size: 15px;
}

.grid-item .min-val{
  font-size: 12px !important;
}


.coloring-data{
  padding: 5px 3px 3px 5px;
  margin-bottom: 5px;
  margin-right: 3px;
  margin-left: 0px;
}

.grid-item table{
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.grid-item table td{
  padding: 6px 10px 6px 10px;
}

tr:hover:not(.header):not(.footer){
  background-color: #d8d8d8 !important;
}

tr:nth-child(even):not(.header):not(.footer) {
  background-color: #f2f2f2;
}

table .header td{
  border-bottom:1px dashed #d8d8d8;
  font-size: 13px !important;
  color: rgb(130, 128, 125);
  font-weight: 400;
  display: table-cell !important;
  padding: 10px 4px 10px 10px !important;
}

table .footer td{
  border-top:1px dashed #d8d8d8;
  font-size: 13px !important;
  color: rgb(130, 128, 125);
  font-weight: 400;
  display: table-cell !important;
  padding: 7px 4px 8px 10px !important;
}

table .header td:last-child > .right{
  padding-right: 10px;
}

.taggable:hover{
  cursor: pointer;
}

.tag{
  border-radius: 3px;
  padding: 3px 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 13px;
  color: #807b7b;
  display: inline-block;
  text-transform: capitalize;
  border-width: 1.4px 1.4px 3px;
  border-style: solid;
  border-color: rgb(162, 163, 161);
  border-image: initial;
  cursor: pointer;
}

.tag > *{
  cursor: pointer;
}


.see-more{
  color: #797c82;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 4px;
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 4px;
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 2px;
}

.see-more:hover{
  background-color: #f1f1f1;
}

.no-data{
  color: gray;
  font-size: 15px;
}

.costs-box{
  display: none;
}

.hide-item:not(.see-more){
  display: none;
}


.box-img{
  width: 100px;
  height: 100px;
  padding: 2px;
  mix-blend-mode: multiply;
  margin: auto;
  display: block;
}

.box-img-sub{
  background-color: #f3f0f0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
}

.box-img-score{
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ccc7c7;
  border-radius: 50%;
  padding: 3px;
  color: white;
  min-width: 14px;
  text-align: center;
  transform: scale(0.95);
  font-size: 11px;
}

.box-img-col{
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  position: relative;
}

.box-img-col:hover{
  background-color: whitesmoke;
}

.selectors .material-input-holder>input{
  max-width: 70px !important;
  min-width: 70px !important;
}

.button-area{
  display: block;
}

.search-holder{
  display: block;
  width: 100%;
  height: auto;
}

.arrows-holder{
  display: block;
  width: fit-content;
  margin: auto;
}

.date-arrow{
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 2px;
}

.date-arrow:hover{
  background-color: #dcdcdc73;
  transform: scale(1.2);
  cursor: pointer !important;
  border-radius: 50%;
}

.date-menu-dots{
  position: absolute;
  right: 5px;
  bottom: 10px;
}
