<!DOCTYPE html>
<html lang="en" dir="ltr">
<%  include ../menus/main-menu %>

<head>


  <link rel="stylesheet" type="text/css" href="/front/css/layout/main-settings.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-checkbox.css">
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/control/main-settings.js"></script>

  <script type="text/javascript" class="hidable-script">
    window._fullparams = <%- JSON.stringify(fullparams || null) %>
  </script>
</head>


<body>


  <table class="main-table">

    <tr>

      <td>
        <div class="box shadow">
          <span class="box-title">
            <img src="img/fb.png">
            <label>Facebook</label>
          </span>

          <div class="box-content">

            <div class="material-input-holder">
              <input type="text" id="fb-url" maxlength="500"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Facebook Link</label>
            </div>

            <div class="material-input-holder">
              <input type="text" id="fb-messenger-url" maxlength="500"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Messenger Link</label>
            </div>

            <div class="material-input-holder">
              <input type="number" id="fb-app-id-comments" maxlength="20"
                onkeypress="return Num.isNumberKey(event);"  autocomplete="off"
                 required/>
              <span class="bar"></span>
              <label>Plugin de Comentários(AppId)</label>
            </div>

          </div>
        </div>
      </td>

      <td>
        <div class="box shadow">
          <span class="box-title">
            <img src="img/insta.png">
            <label>Instagram</label>
          </span>

          <div class="box-content">

            <div class="material-input-holder">
              <input type="text" id="insta-url" maxlength="500"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Instagram Link</label>
            </div>

          </div>
        </div>
      </td>

      <td>
        <div class="box shadow">
          <span class="box-title">
            <img src="img/whatsapp.png">
            <label>Whatsapp</label>
          </span>

          <div class="box-content">

            <div class="material-input-holder">
              <input type="number" id="whatsapp-phone" maxlength="30"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Número de Telefone</label>
            </div>

            <div class="material-input-holder">
              <input type="text" id="whatsapp-url" maxlength="500"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Whatsapp Link</label>
            </div>

          </div>
        </div>
      </td>

      <td>
        <div class="box shadow">
          <span class="box-title">
            <img src="img/telegram.png">
            <label>Telegram</label>
          </span>

          <div class="box-content">

            <div class="material-input-holder">
              <input type="text" id="telegram-url" maxlength="500"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Telegram Link</label>
            </div>

          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="box shadow">
          <span class="box-title">
            <label>Central de Atendimento</label>
          </span>

          <div class="box-content">

            <div class="material-input-holder">
              <input type="text" id="customer-service-phones" maxlength="500"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Telefones</label>
            </div>

            <div class="material-input-holder">
              <input type="text" id="customer-service-url" maxlength="200"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Link</label>
            </div>


            <div class="material-input-holder">
              <input type="text" id="customer-service-email" maxlength="100"  autocomplete="off" required/>
              <span class="bar"></span>
              <label>Email</label>
            </div>

          </div>
        </div>
      </td>
    </tr>
  </table>


</body>
</html>
