
.main-content{
  margin-top: 100px !important;
  width: 95%;
  margin: auto;
  padding: 3px;
  height: 100%;
  overflow-y: scroll !important;
}


.box{
  display: block;
  margin-right: 15px;
}

.row{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.image-holder{
  height: auto;
  position: relative;
  display: block;
  max-width: fit-content;
}

.image-holder img{
  width: 230px;
  height: 230px;
  border-radius: 3px;
  margin: 8px;
}



.flex-line{
  display: flex;
  padding: 8px 12px 0px 12px;
}


.material-input-holder{
  margin-right: 10px !important;
  /* width: 100px !important; */
  margin-bottom: 10px !important;
}

.material-input-holder>input{
  font-size: 15px !important;
}


.gray{
  background-color: #f3f3f3;
  border-top: 1px dashed #d8d8d8;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}



.box .title{
  display: block;
  font-weight: 600;
  font-size: 11px !important;
  color: #259587;
  padding-bottom: 10px;
  position: relative;
  padding: 5px 10px 5px 10px;
  margin-top: 8px;
}


.box .right{
  right: 0;
  float: none;
  position: absolute;
  top: 0;
  color: gray;
  margin-left: 10px;
  font-size: 13px;
  margin-right: 12px;
  display: block;
}

.sizes-box{
  width: 100%;
  height: 100px;
  background: #f3f3f3;
  border: 0.5px solid #e6e6e6;
  border-radius: 4px;
  cursor: text;
  position: relative;
}

.add-size-input{
  padding: 4px 12px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  width: fit-content;
  background: white;
  text-align: center;
  white-space: nowrap;
  margin-top: 10px;
  min-width: 20px;
  font-size: 15px;
  margin-left: 10px;
  display: inline-block;
  outline: none;
  text-transform: uppercase;
}


.size-group-button{
  padding: 4px 12px;
  top: 4px;
  margin-right: 0px;
  display: inline;
  position: relative;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  background: white !important;
  font-size: 13px;
  color: gray;
}

.size-group-button:focus, .size-group-button:hover{
  background: #f3f3f3 !important;
  outline:0;
  color: GRAY;
  font-weight: 900;
  border: 1px solid #868686;
  border-bottom: 2px solid #4644446e;
}

.size-group-button.active{
  background: #969595 !important;
  outline:0;
  color:white;
  font-weight: 900;
  border: 1px solid #868686;
  border-bottom: 2px solid #4644446e;
}
