<nav class="sub-menu-nav">
  <ul class="sub-menu-ul">
    <li class="menu-item">
      <a href="/customer-service/client">
        <div class="menu-button title">
          <span class="menu-label">Cliente</span>
        </div>
      </a>
    </li>

    <li class="menu-item">
      <a href="#">
        <div class="menu-button title">
          <span class="menu-label">Listagem</span>
        </div>
      </a>
    </li>

    <li class="menu-item">
      <a href="#">
        <div class="menu-button title">
          <span class="menu-label">Outros</span>
        </div>
      </a>
    </li>
  </ul>
</nav>
