<div class="sub-menu">
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <%if (Sett.get(locals.loggedUser,8)){%>
        <li class="menu-item material-ripple" href="/packing">
          <div class="menu-button title">
            Em Aberto
          </div>
        </li>
      <%}%>
      <li class="menu-item material-ripple" href="/packing/overview">
        <div class="menu-button title">
          Geral
        </div>
      </li>
      <li class="menu-item material-ripple" href="/packing/by-date">
        <div class="menu-button title">
          Por Data
        </div>
      </li>
      <li class="menu-item material-ripple" href="/packing/achievements">
        <div class="menu-button title">
          Conquistas
        </div>
      </li>
    </ul>
  </nav>

  <div class="subtitles">

    <%
    if (typeof subtitlesArr != "undefined")
      subtitlesArr.forEach(function(bar){ %>

      <div class="subtitle-item">
        <div class="subtitle-color circle shadow" style="background-color: #<%=bar.barColor%>"> </div>
        <label class="subtitle-label"> <%=bar.name%> </label>
      </div>

      <% }); %>

  </div>
</div>
