<nav class="sub-menu-nav">
  <ul class="sub-menu-ul">
    <li class="menu-item">
      <a href="/pending">
        <div class="menu-button title">
          <span class="menu-label">Geral</span>
        </div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/pending/products">
        <div class="menu-button title">
          <span class="menu-label">Produtos</span>
        </div>
      </a>
    </li>
  </ul>
</nav>
