<div class="sub-menu">
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <li class="menu-item">
        <a href="/profile">
          <div class="menu-button title">
            Perfil
          </div>
        </a>
      </li>

      <li class="menu-item">
        <a href="/team-board">
          <div class="menu-button title">
            Grupo
          </div>
        </a>
      </li>

      <%if (Sett.get(locals.loggedUser,6)){%>
        <li class="menu-item " >
          <a href="/manage-points">
            <div class="menu-button title">
              Gerenciar Pontos
            </div>
          </a>
        </li>
        <%}%>
      </ul>
    </nav>
  </div>
