<div class="sub-menu">
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <li class="menu-item material-ripple" href="/profile">
        <div class="menu-button title">
          Perfil
        </div>
      </li>
        <%if (locals.loggedUser.full){%>
      <li class="menu-item material-ripple" href="/manage-points">
        <div class="menu-button title">
          Gerenciar Pontos
        </div>
      </li>
      <%}%>
    </ul>
  </nav>
</div>
