<div>
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <li class="menu-item">
        <a href="/picking">
          <div class="menu-button title">
            <span class="menu-label">Em Aberto</span>
          </div>
        </a>
      </li>

      <li class="menu-item">
        <a href="/picking/overview">
          <div class="menu-button title">
            <span class="menu-label">Geral</span>
          </div>
        </a>
      </li>
      <li class="menu-item">
        <a href="/picking/by-date">
          <div class="menu-button title">
            <span class="menu-label">Por Data</span>
          </div>
        </a>
      </li>
      <li class="menu-item">
        <a href="/picking/records">
          <div class="menu-button title">
            <span class="menu-label">Recordes</span>
          </div>
        </a>
      </li>
    </ul>
  </nav>

  <div class="subtitles">
    <% if (typeof subtitlesArr != "undefined") subtitlesArr.forEach(function(bar){ %>

    <div class="subtitle-item">
      <div class="subtitle-color circle shadow" style="background-color: #<%=bar.barColor%>;"></div>
      <label class="subtitle-label"> <%=bar.name%> </label>
    </div>

    <% }); %>
  </div>
</div>
