<div class="sub-menu">
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <li class="menu-item" >
        <a href="/picking">
          <div class="menu-button title">
            Em Aberto
          </div>
        </a>
      </li>
      <%if (Sett.get(locals.loggedUser,2)){%>
        <li class="menu-item " href="/pending">
          <a href="/pending">
            <div class="menu-button title">
              Pendências
            </div>
          </a>
        </li>
        <%}%>
        <li class="menu-item " >
          <a href="/picking/overview">
            <div class="menu-button title">
              Geral
            </div>
          </a>
        </li>
        <li class="menu-item " >
          <a href="/picking/by-date">
            <div class="menu-button title">
              Por Data
            </div>
          </a>
        </li>
        <li class="menu-item " >
          <a href="/picking/records">
            <div class="menu-button title">
              Recordes
            </div>
          </a>
        </li>

      </ul>
    </nav>

    <div class="subtitles">

      <%
      if (typeof subtitlesArr != "undefined")
      subtitlesArr.forEach(function(bar){ %>

        <div class="subtitle-item">
          <div class="subtitle-color circle shadow" style="background-color: #<%=bar.barColor%>"> </div>
          <label class="subtitle-label"> <%=bar.name%> </label>
        </div>

        <% }); %>

      </div>
    </div>
