<div class="sub-menu">
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <li class="menu-item" >
        <a href="/product">
          <div class="menu-button title">
            Produto
          </div>
        </a>
      </li>
      <%if (Sett.get(locals.loggedUser,13)){%>
        <li class="menu-item" >
          <a href="/diagnostics">
            <div class="menu-button title">
              Diagnóstico
            </div>
          </a>
        </li>
        <%}%>


  </ul>
</nav>
</div>
