<div class="sub-menu">
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <li class="menu-item material-ripple" href="/stock">
        <div class="menu-button title">
          Produto
        </div>
      </li>
      </li>
    </ul>
  </nav>
</div>
