<nav class="sub-menu-nav">
  <ul class="sub-menu-ul">
    <li class="menu-item">
      <a href="/stock/product-board">
        <div class="menu-button title">
          <span class="menu-label">Geral</span>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/stock/list">
        <div class="menu-button title">
          <span class="menu-label">Listagem</span>
        </div>
      </a>
    </li>

    <%if (Sett.get(locals.loggedUser,19)){%>
    <li class="menu-item">
      <a href="/stock/panel">
        <div class="menu-button title">
          <span class="menu-label">Painel</span>
        </div>
      </a>
    </li>

    <li class="menu-item">
      <a href="/stock/storer">
        <div class="menu-button title">
          <span class="menu-label">Cadastro</span>
        </div>
      </a>
    </li>

    <%}%>

    <li class="menu-item" sub-menu="stock-menu">
      <a href="/product/page">
        <div class="menu-button title">
          <span class="menu-label">Produto</span>
        </div>
      </a>
    </li>

    <%if (Sett.get(locals.loggedUser,13)){%>
    <li class="menu-item">
      <a href="/diagnostics">
        <div class="menu-button title">
          <span class="menu-label">Diagnóstico</span>
        </div>
      </a>
    </li>
    <%}%>
    <li class="menu-item">
      <a href="/scheduling">
        <div class="menu-button title">
          <span class="menu-label">Agendamento</span>
        </div>
      </a>
    </li>
  </ul>
</nav>
