<div class="sub-menu">
  <nav class="sub-menu-nav">
    <ul class="sub-menu-ul">
      <li class="menu-item " >
        <a href="/stock">
          <div class="menu-button title">
            Produto
          </div>
        </a>
      </li>
    </li>
  </ul>
</nav>
</div>
