<html>
<%  include ../menus/main-menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/history.css">
  <script type="text/javascript" src="/front/js/control/history.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>

  <script type="text/javascript" src="/front/js/libs/combobox.js"></script>
</head>

<body>
  <div class="main-content">
    <div class="panels">
      <div class="left-panel shadow">

        <div class="search-box">
          <input type="text" class="simple-material-input search-input" id="user-search" placeholder="Usuário" autocomplete="off"/>
          <input type="text" id="title-search" class="simple-material-input search-input" placeholder="Título" />
          <input type="text" id="message-search" class="simple-material-input search-input" placeholder="Mensagem" />
          <input type="text" id="tag-search" class="simple-material-input search-input" placeholder="Tag" value="<%=tag || '' %>"/>

          <label class="button search-button shadow">Pesquisar</label>
          <%

          if (false /*Sett.get(locals.loggedUser,5)*/){%>
            <label class="button delete-button shadow">Excluir Tudo</label>
            <%}%>
          </div>


        </div>

        <div class="main-panel shadow" >

          <div class="histories-list">


          </div>
        </div>
      </div>

    </div>

  </body>
  </html>
