<html>

  <head>

  </head>

  <body>


    <div class="main-content">
      <% include menu %>

        <% include invoice-menu %>



          <div class="achivments-holder">
            <%
               var data {
                 "0": {
                   "user": {
                       id: 117566781,
                       name: "Carlos"
                   }
                   bars: [{
                     name: "pedidos",
                     value: "123",
                     barColor:""

                   }]


                 }
               }
             %>

          </div>

    </div>

  </body>

</html>