<html>
<% include menu %>
<%

var isByDate = page.includes('by-date');
var subtitlesArr = Util.getSubtitles(charts);

%>

<head>
  <link rel="stylesheet" type="text/css" href="/css/charts.css">
  <script type="text/javascript" src="/visual/file-loader.js"></script>
  <script type="text/javascript" src="/visual/date-picker.js"></script>
  <script type="text/javascript" src="/control/chart-page.js"></script>
</head>

<body>

  <div class="main-content">
    <% include invoice-menu %>

    <% include chart-render %>
  </div>

</body>

</html>
