<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/input-material.css">
    <link rel="stylesheet" type="text/css" href="/css/ripple.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/visual/shake.js"></script>
    <script type="text/javascript" src="/control/login.js"></script>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/visual/ripple.min.js"></script>

    <title>Hawk</title>
    <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />
  </head>

  <body>

    <div class="main-content">

      <div class="login-form shadow">
        <div class="img-holder">


          <img src="/img/icon/hawk.png" class="shadow circle" id="logo" />

          <img src="/img/avatar/default.jpg" class="shadow circle material-ripple" id="guest" title="Convidado" />


          <span class="login-title">Hawk Login</span>
        </div>



        <div class="login-els">

          <div class="group input-group">
            <input type="text" id="user-id" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Código de Acesso</label>
          </div>

        </div>

      </div>

    </div>



  </body>

</html>