<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/ripple.min.css">


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/visual/ripple.min.js"></script>
    <script type="text/javascript" src="/control/menu.js"></script>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>

    <title>Hawk</title>
    <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />


    <script>
      $(document).ready(function() {
        $('.menu-item').click(function() {
          setTimeout(() => {
            window.location.href = $(this).attr('href');
          }, 200);
        })
      });
    </script>
  </head>

  <body>

    <nav id="main-menu">

      <div class="material-ripple start-jobs">
        <img src="/img/icon/hawk.png" id="logo" class="<%= global.jobsRunning ? 'gone' : '' %>" />
        <img id="run-jobs-img" src="/img/loader/loading.svg" class="<%= !global.jobsRunning ? 'gone' : '' %>" />
      </div>



      <ul id="nav">
        <li class="menu-item material-ripple" href="picking">
          <div class="button title">
            Picking
          </div>

        </li>
        <li class="menu-item material-ripple" href="/invoice/overview">
          <div class="button title">
            Faturamento
          </div>
        </li>
        <li class="menu-item material-ripple" href="estoque">
          <div class="button title">
            Estoque
          </div>
        </li>
      </ul>

      <div class="material-ripple user-logged-holder">

        <img src="/img/avatar/<%=user ? user.id : 'default' %>.jpg" class="user-logged-img circle shadow" />

        <label class="title user-logged-name"><%= user ? user.name : 'No User' %> </label>


      </div>
    </nav>



  </body>

</html>