<html>
<% include menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/css/picking.css">
  <script type="text/javascript" src="/control/picking-pendings.js"></script>

  <!-- To block a sale -->
  <script type="text/javascript" src="/visual/selector-dialog.js"></script>
  <script type="text/javascript" src="/control/blocked/blocked-selector.js"></script>
  <script type="text/javascript" src="/control/blocked/blocked-post.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/libs/material-selector-dialog.css">

  <link rel="stylesheet" type="text/css" href="/css/libs/material-switch.css">

</head>

<body>
  <% include picking-menu %>

  <script>
  window.pendingSales = <%- JSON.stringify(pendingSales || null) %>
  window.wideOpen = <%- wideOpen %>
  </script>

  <%
  if (wideOpen){
    var open = [];
    var solving = [];
    var solved = [];

    pendingSales.forEach(function(pending){
      if (pending.status == 0){
        open.push(pending);
      }else if (pending.status == 1){
        solving.push(pending);
      }else if (pending.status == 2){
        solved.push(pending);
      }
    });

  }
  %>


  <div class="main-content no-scroll" style="padding-top:15px; display:flex">
    <% if (wideOpen){%>
      <% pendingSales = open;
         var label = 'Não Atendido';
         var topClass = 'red-top';
      %>
      <% include picking-pendings %>

      <% pendingSales =solving
         var label = 'Em Atendimento';
         var topClass = 'orange-top';
      %>
      <% include picking-pendings %>

      <% pendingSales =solved
         var label = 'Resolvido';
         var topClass = 'green-top';
      %>
      <% include picking-pendings %>
    <%}else{%>
      <% include picking-pendings %>
    <%}%>


  </div>


</body>
</html>
