<html>
  <% include menu %>

    <head>
      <script type="text/javascript" src="/control/picking.js"></script>
    </head>

    <body>


      <div class="main-content">
        <input value="117568973" id="user-id" />
      </div>

    </body>

</html>