<html>
<% include menu %>

<body>
  <%
  var subtitlesArr = Util.getSubtitles(data);
  %>
  <% include picking-menu %>
  <div class="main-content">


    <% include achievements-render %>
  </div>

</body>

</html>
