<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Página de Teste</title>

    <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />

      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



      <script type="text/javascript" src="/front/js/libs/count-down.js"></script>
      <link rel="stylesheet" type="text/css" href="/front/css/libs/count-down.css">

  </head>
  <body>


    <div class="countdown-holder">
      <label class="countdown-number">30</label>
      <svg>
        <circle r="18" cx="20" cy="20"></circle>
      </svg>
    </div>


  </body>
</html>
