<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Página de Teste</title>

    <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />

      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


      <link rel="stylesheet" type="text/css" href="/front/css/libs/teste.css">

  </head>
  <body>


    <div class="holder">
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
      <div class="item">

      </div>
    </div>


  </body>
</html>
