<html>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/devolution.css">
  <script type="text/javascript" src="/front/js/control/devolution.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
</head>

<body>

  <div class="panels-holder">
    <div class="panel">

      <%-wellcomeTemplate%>


    </div>

    <div class="panel" >

      <h1>Buscar Pedido</h1>

      <p>Insira o número do pedido da compra efetuada em nossa loja para que possamos identificar os produtos para qual deseja solicitar a troca.</p>


      <input type="text" id="sale" autocomplete="off" placeholder="Número do Pedido" required/>

      <input type="text" id="email" autocomplete="off" placeholder="E-mail" required/>
      
      <button type="button" name="find">Buscar</button>


    </div>
  </div>
</body>
</html>
