.search-box {
  display: flex;
}

.modal-holder {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  z-index: 9;
  top: 0;
}

#save {
  position: absolute;
  right: 10px;
}

.columns {
  display: flex;
  height: 70%;
}

.columns > .left-holder {
  display: flex;
}

.col {
  padding-bottom: 40px;
  width: fit-content;
}

.col-box {
  max-width: 300px;
  min-width: 260px;
  width: fit-content;
  max-height: 90%;
  display: block;
  overflow: auto;
}

.col-content {
  margin-left: 15px;

  /* max-width: 300px; */
  min-width: 260px;
  width: fit-content;
  padding: 15px;
  display: block;
  height: 100%;
}

.col-header {
  margin-bottom: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  margin: 0 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.order-item table {
  padding-left: 7px;
  padding-right: 7px;
  border-collapse: collapse;
}

.order-item {
  padding: 6px 6px 6px 3px;
  margin-bottom: 5px;
  display: flex;
}

.header-title {
  width: fit-content;
  font-size: 14px;
  background-color: transparent;
}

.top {
  margin: 15px;
  padding: 10px;
}

.form-content {
  padding: 15px;
}

.input-holder > div {
  padding-right: 15px;
}

.menu-dots {
  width: fit-content;
  height: fit-content;
  float: right;
}

.avatar-holder {
  width: 10px;
  padding-right: 8px;
  display: table-cell;
}

.hint {
  color: grey;
  margin-top: 10px;
  padding-left: 2px;
  display: inline-block;
  font-size: 11px;
}

.orders-qtd {
  color: #1c796b;
  float: right;
}

.red-top {
  border-top: 3px solid #f16d6f;
}

.yellow-top {
  border-top: 3px solid #f1d26a;
}

#search-input {
  flex: 100%;
  width: -webkit-fill-available;
  font-size: 15px;
  margin: 10px;
  position: relative;
}

.right-holder {
  flex: 1;
  margin-right: 15px;
  margin-left: 15px;
  max-height: 80%;
  overflow: auto;
  height: fit-content;
}

.in-progress table tr td {
  max-width: 65px;
}

.table-header th {
  background: #dcdcdc;
  padding: 12px 15px !important;
  border-bottom: 0 !important;
  color: #484545 !important;
  font-size: 15px;
  width: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.line-order td {
  padding: 8px 8px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
}

.table-orders tr td {
  max-width: 45px;
  padding-left: 7px;
}

.table-header td:first-child {
  border-top-left-radius: 4px;
}

.content-table tr:nth-child(even) {
  background-color: #ddd6d757;
}

.content-scroll {
  /* overflow-x: unset; */
  margin-top: 0;
  padding-top: 0;
}

.content-table {
  height: 100%;
}

.brand-value {
  font-weight: 700;
}

.new-order-modal {
  display: none;
}

.order-modal-content {
  width: 400px;
  height: min-content;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 70px;
  padding: 6px;
}

.view-attach {
  width: 20px;
}

.view-attach:hover {
  transform: scale(1.2);
}

.line-order {
  border-left: 3px solid #009485;
}

.list-content {
  padding-right: 3px;
}
