.register-title {
  padding: 0 3px 2px;
  color: #6b6767;
  font-family: Roboto, sans-serif;
  padding-left: 15px;
}

.form-modal-holder {
  width: 800px;
  height: min-content;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.input-holder {
  display: flex;
  position: relative;
}

.mini-img {
  width: 30px;
  cursor: pointer;
  max-width: 30px;
  height: 30px;
  max-height: 30px;
}

.upload-holder {
  display: flex;
  padding-top: 5px;
}

.files {
  margin-left: 10px;
}

#img-upload > label {
  font-size: 14px;
  color: gray;
}

.upload-delete {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin-left: 4px;
}

.files span {
  font-size: 12px;
  color: #868686;
}

.files div {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.file-info {
  cursor: pointer;
}

.file-info:hover {
  color: #616161;
}

.upload-delete:hover {
  transform: scale(1.2);
}

#save {
  position: absolute;
  right: 10px;
}

.form-content {
  padding: 15px;
}

.form-upload {
  width: fit-content;
  padding: 0 15px;
}

#img-upload {
  padding: 15px;
  padding: 0.7rem 15px;
  border: 1px dashed #c7c7c7;
  border-radius: 5px;
}

.input-holder > div {
  padding-right: 15px;
}
