.achivments-holder {
  display: grid;
  padding: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 0fr);
  grid-gap: 12px;

}

.label{
  background: transparent;
}

.achivments-holder:last-child{
  margin-bottom: 100px;
}

.grid-item {
  flex-basis: 33%;
  padding: 15px 10px 0px 10px;
  margin: 2px;
  display: -webkit-inline-box;
  min-width: 300px;
  min-height: 200px;
  width: -webkit-fill-available;
}

.winner-holder {
  display: -webkit-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.winner-holder:last-child{
  margin-bottom: 10px;
}

.avatar-holder {
  display: block;
  height: fit-content;
  vertical-align: middle;
  position: relative;
}

.avatar-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 444;
  background: white;
  position: relative;
}

.avatar-name {
  font-size: 12px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: sans-serif;
  min-width: 50px;
  font-weight: 400;
  padding: 3px 6px;
  color: white;
  margin-top: -2px;
  z-index: 4459999;
  text-shadow: 2px 2px 2px rgb(156, 156, 156);
  background: unset;
  position: relative;
}

.record-name{
  color: #f8ff13 !important;
  text-shadow: 2px 2px 2px rgba(115, 103, 103, 0.64);
  font-weight: bold;
  font-family: sans-serif;
}

.month-desc {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 800;
}

.dot-item {
  display: flex;
  padding: 2px;
}

.dots-holder {
  margin-left: 10px;
  vertical-align: middle;
  margin-top: auto;
  height: fit-content;
  margin-bottom: auto;
}

.dot {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  margin-bottom: -2px;
  border: 0;
}

.dot-value {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  margin-top: -3px;
  margin-left: 4px;
}

.podium-avatar{
  width: 48px !important;
  height: 48px !important;
}

.crown {
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  display: block;
  margin-bottom: -3px;
  height: 25px;
}

.record-crown{
  margin-bottom: -4px;
  height: 25px;
  transform: rotate(-10deg);
  padding-right: 10px;
}

.year-title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

.record{
  height: 35px;
  position: sticky;
  z-index: 555;
  margin-left: -3px;
  margin-top: -19px;
}

.podium-holder{
  transform: scale(0.9);
  margin-top: -8px;
  position: relative;
  margin-right: 10px;
}

.linear-dots{
  display: block;
  max-width: 150px;
}

.linear-dots > .dot-item{
  display: block;
}

.linear-dots > .dot-item > .dot-value{
  float: right;
  margin-top: 3px;
  font-weight: 800;
}


.champ-holder {
  margin-right: 10px;
  min-width: 155px;
}

.dot-label{
  font-size: 13px;
  font-weight: 600;
}


img.medal {
  position: absolute;
  margin-top: 38px;
  margin-left: 2px;
  z-index: -1;
  width: 45px;
}

.avatar-holder > a{
  z-index: 23;
  position: relative;
}

img.laurel{
  margin-left: 38.5px;
  margin-top: -50px;
  z-index: 1;
  width: 77px;
  position: absolute;
}

img.ribbon {
  position: absolute;
  margin-top: -2px;
  z-index: 44;
  width: 110px;
  height: 33px;
  margin-left: 22px;
}


img.double-diamong {
  position: absolute;
  margin-top: -24px;
  width: 110px;
  margin-left: 21.5px;
}


.wide{
  width: 100%;
}


img.comming-soon {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  margin-top: 40px;
}

.comming-text{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  margin-top: 5px;
  text-align: center;
}

.rules{
  display: block;
  padding: 12px 18px;
  width: fit-content;
  min-width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.rule-title{
  font-size: 15px;
  color: #757575 !important;
  padding-top: 6px;
  padding-bottom: 16px;
  font-weight: 800;
  display: -webkit-box;
}

.winners-places {
  display: block;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  margin-top: 15px;
  margin: auto;
}


.rule-row{
  display: -webkit-box;
  font-size: 13px;
  color: #656161;
  font-weight: 600;
  margin-bottom: 6px;
}


.rules-box {
  text-align: center;
  width: auto;
  display: -webkit-inline-box;
  vertical-align: top;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.winner-main-icon{
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  margin-bottom: 5px;
}


.rule-icon{width: 25px;height: 25px;margin-bottom: -5px;margin-right: 3px;}

.winner-box-rule{
  padding-right: 5%;
  min-width: fit-content;
  padding-left: 5%;
  width: fit-content;
  display: block;
  border-right: 1px dashed #d8d2d2;
}


.winner-box-rule:last-child{
  border-right: white;
}

.trophy{
  margin-top: -70px;
  margin-left: 23px;
}


.champion {
  width: 100px;
}


img.dot.icon {
  width: 20px !important;
  height: 20px !important;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -3;
}


span.percent {
  background: #1aa922;
  border-radius: 50%;
  width: 26px;
  position: absolute;
  line-height: 24px;
  vertical-align: middle;
  margin-left: 24px;
  margin-top: -16px;
  color: white;
  padding: 0px 1px;
  font-size: 10px;
  text-align: center;
  z-index: 9999;
  border: 1.5px solid white;
  text-shadow: 2px 2px 2px rgba(119, 111, 111, 0.77);
}

.current-month{
  border-top: 4px solid #3476d2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .20), 0 2px 3px -10px rgba(0, 0, 0, .25), 0 2px 7px 0 rgba(0, 0, 0, .23);
  border-radius: 8px;
  -webkit-box-shadow: 4px 7px 8px -5px rgba(135,127,135,1);
  -moz-box-shadow: 4px 7px 8px -5px rgba(135,127,135,1);
  box-shadow: 4px 7px 8px -5px rgba(135,127,135,1);
}


.open-month{
  border-top: 4px solid #f9a20e;
  opacity: 1;
}

.closed-month{
  border-top: 4px solid #0eca3d;
  opacity: 1;
}

.current-month .avatar-img{
  opacity: 0.7;
}




.current-timer > img{
  margin: auto;
  width: 40px;
}

.current-timer{
  animation: leaves 0.8s ease-in-out infinite alternate;

  color: #6f6a6a;
  font-size: 14px;
  display: grid;
  text-align: center;
  max-width: 130px;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}


@keyframes leaves {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.1);
    }
}
