.charts-content {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 150px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.chart-group {
  background-color: white;
  margin: 8px;
  max-width: 90%;
  display: inline-grid;
  width: fit-content;
}

.title-holder {
  background-color: #009587;
  padding: 8px;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  display: block;
  height: 13px;
}

.chart-title {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  float: left;
  text-transform: uppercase;
  color: white;
}

.chart-label {
  display: inline-block;
  float: right;
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  color: white;
}

.chart-sum {
  margin: 5px;
  margin-top: 35px;
  position: absolute;
  z-index: 2;
}


.chart-sum-item {
  display: block;
  font-size: 10px;
  margin-bottom: 3px;
  padding: 10px 1px;
  color: white;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
}

.chart-hint {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  text-transform: uppercase;
  color: gray;
}

.chart-holder {
  position: relative;
  height: 290px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 98%;
  min-width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;
}

.chart-bar-holder {
  display: inline-table;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  height: -webkit-fill-available;
}

.chart-bar-group {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 8px;
}

.bar {
  cursor: default;
  position: relative;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  background-color: #009587;
  /* display: inline-block; */
  /* display: table-cell; */
  display: -webkit-inline-box;
  vertical-align: bottom;
}

.bars-holder {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bar-value {
  font-size: 12px;
  color: white;
  padding: 6px 5px 2px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  bottom: 0;
}

.max-chart {
  width: 80%;
  min-height: 350px;
}

.label-bar{
  font-size: 14px;
  margin-bottom: 15px;
  display: inline-block;
  padding: 1px 5px;
}
