
body{
  background-color: #fafafa;
}


.panels-holder{
  display: flex;
  max-width: 90%;
  margin: auto;
  flex-wrap:  wrap;
}

.panel{
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  flex: 45%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.39);
  box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.39);
}
