html, body {
  padding: 0;
  height: 100%;
  background-color: #fcfcfc;
  margin: 0;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
}


input, span, label {
  font-family: Roboto, sans-serif;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Roboto, sans-serif;
}

.menu-button {
  position: relative !important;
  cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.button{
  margin: 5px 1px;
  text-align: center;
  min-width: 80px;
  display: inline-block;
  background-color: #1B6E61 !important;
  color: white !important;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
  float: right;
  cursor: pointer;
}

.button:hover{
  background-color: #15564c !important;
}


.button:focus{
  background-color: #4CAF50!important;
  outline:0;
  font-weight: 800;
}

.delete-button{
  background-color: #e45355 !important;
  outline: none;
}

.delete-button:hover{
  background-color: #ca5556 !important;
}


.label {
  padding: 0px 3px 2px 3px;
  color: gray;
  font-family: Roboto, sans-serif;
  background-color: white;
}

.title {
  color: white;
  font-family: Roboto, sans-serif;
}

.main-content {
  display: block;
  position: relative;
  margin-top: 80px;
  height: 100%;
  overflow-y: auto;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

.circle {
  width: 50px;
  height: 50px;
  border: solid 2px white;
  border-radius: 50%;
}


.gone {
  display: none;
}

.red {
  background-color: #f3736a !important;
}

.red-wick {
  background-color: #f3cccc !important;
}

.green-wick{
  background-color: #ccf3df !important;
}

.icon{
  width: 18px;
  height: 18px;
  margin-left: 8px;
  margin-right: 8px;
}



.avatar-name {
  padding: 2px 5px;
  font-size: 11px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.left{
  text-align: left !important;
}

.right{
  float: right;
}

.avatar-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.avatar-holder {
  padding-bottom: 20px;
  display: block;
}


tr.line td{
  border-bottom: 1pt solid #80808033;
}

.copiable, .copiable > *  {
  cursor: copy !important;
}

.dense-shadow{
  -webkit-box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.75);
}

.loading-circle{
  max-width: 18px;
  max-height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  opacity: 0.8;
}

.hidden{
  visibility: hidden;
}

.no-scroll{
  overflow: hidden;
}


@-webkit-keyframes pulsate {
  0% { opacity: 0.0}
  10% { opacity: .20}
  20% { opacity: .40 }
  30% { opacity: .60 }
  40% { opacity: .80 }
  50% { opacity: 1.0}
  60% { opacity: .80}
  70% { opacity: .60}
  80% { opacity: .40}
  90% { opacity: .20}
  100% { opacity: 0.0}
}

.pulse {
  color: red !important;
  font-size: 12px !important;
  font-weight: bold !important;
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite
}




.simple-material-input{
  outline: none;
  height: 26px;
  width: 100%;
  display: block;
  background: transparent;
  border: 2px #e4e4e4;
  border-style: none none solid none;
}

.simple-material-input:focus{
  border: 2px #1c796b;
  border-style: none none solid none;
}

.simple-material-input-error{
  border: 2px #e25952 !important;
  border-style: none none solid none !important;
}

.dotted {
  border-right: 1px dashed #e6e7e6;
}

.dotted-line{
  border-bottom: 1px dashed #e6e7e6;
}

.dotted-top{
  border-top: 1px dashed #e6e7e6;
}



.image-preview {
  width: 90px;
  height: 90px;
  border: 2px solid #dfdddf;
  border-radius: 10px;
  z-index: 100000;
  background: white;
  position: absolute;
  width: 400px !important;
  height: 400px !important;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(50, 50, 50, 0.63);
  -moz-box-shadow: 10px 10px 30px 0px rgba(50, 50, 50, 0.63);
  box-shadow: 10px 10px 30px 0px rgba(50, 50, 50, 0.63);
}

table{
  border-collapse: collapse;
}



.dots-glyph{
  width: 15px;
  margin-right: -5px;
  margin-left: 5px;
  height: 15px;
  padding: 3px;
  display: inline-flex;
  margin-top: -3px;
}

.dots-glyph:hover {
  background-color: #dcdcdc73;
  transform: scale(1.2);
  cursor: pointer !important;
  border-radius: 50%;
}




.editable-input{
  border-radius: 5px;
  margin-top: -5px;
  text-align: center;
  display: block;
  color: black;
  width: -webkit-fill-available;
  text-transform: uppercase;
  outline: none;
  height: 26px;
  background-color: transparent;
  border-style: none none none none;
  transform: scale(1);
}

.editable-input:hover:enabled{
  transform: scale(1.1);
}

.editable-input:focus{
  border-radius: 0px;
  border: 2px #1c796b;
  border-style: none none solid none;
}

.disabled{
  opacity: 0.6 !important;
}



.mini-red-circle {
  margin-left: 5px;
  background-color: #f55d0085;
  border-radius: 50%;
  width: 10px;
  padding: 3px;
  font-size: 9px;
  text-align: center;
  color: white;
  height: 10px;
  z-index: 10;
  position: inherit;
  margin-bottom: -10px;
  margin-right: 5px;
}


.barberpole-mini-green-background{
  height: 4px;
  animation: barberpole 10s linear infinite;
  background-image: repeating-linear-gradient(     -45deg,     #4ac6a9bf,     #4ac6a9bf 0.7rem,     #ffffff 0.7rem,     #ffffff 1.3rem     );
  background-size: 200% 200%;
}

.barberpole-color-background{
  animation: barberpole 10s linear infinite;
  background-image: repeating-linear-gradient(     -45deg,     #7500e052,     #7500e052 1rem,     #efefef40 1rem,     #efefef40 2rem     );
  background-size: 200% 200%;
}

.barberpole-gray-background{
  animation: barberpole 10s linear infinite;
  background-image: repeating-linear-gradient(     -45deg,     transparent,     transparent 1rem,     #cccccc33 1rem,     #cccccc33 2rem     );
  background-size: 200% 200%;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}


.mini-icon-button:hover {
  background-color: #f3f3f3;
  transform: scale(1.1);
  cursor: pointer;
  border-radius: 50%;
}

.mini-icon-button {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.avatar-group{
  width: fit-content;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
}


.avatar-badge{
  width: 20px;
  height: 20px;
  z-index: 999 !important;
  position: absolute !important;
  left: 0;
  margin-top: -17px;
  -webkit-filter: drop-shadow(1px 1px 1px #222222a8);
  filter: drop-shadow(1px 1px 1px #222222a8);
}


.inactive-circle{
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
}

.active-circle{
  width: 6px;
  height: 6px;
  background: #02d202;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
}


.main{
  padding-top: 95px;
  padding-bottom: 80px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.top{
  flex: 10%;
  padding: 0px 5px;
}

.content-scroll{
  margin-top: 15px;
  flex: 90%;
  overflow-y: auto;
  max-height: -webkit-fill-available;
  width: 100%;
  padding: 3px;
  margin-left: -3px;
}

.content{
  margin-bottom: 30px;
}


.is-open{
  transform: inherit;
}

.is-closed{
  transform: rotate(270deg);
}

.icon-open{
  float: left;
  margin-left: 8px;
  margin-top: 13px;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  min-width: 23px;
  cursor: pointer;
}
