.main-content {
  max-width: fit-content;
  width: 70%;
  min-width: 50%;
  margin: auto;
  height: fit-content;
  padding-top: 70px;
  padding-left: 3px;
  display: flex;
  padding-right: 3px;
  overflow-y: auto;
}

.show-all {
  min-width: 250px;
  margin-bottom: 15px;
  padding: 8px 0;
  margin-right: 15px;
}

.all-rules {
  display: block;
  margin-top: 5px;
}

.each-all {
  padding: 15px 22px 15px 10px;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.each-all span {
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  min-width: 100px;
  max-width: 150px;
  padding-left: 6px;
  vertical-align: top;
  font-weight: 600;
  color: #616163;
}

.each-all > .icon-dots {
  float: right;
  margin-right: -10px;
}

.each-all:hover * {
  cursor: pointer;
}

.each-all:hover {
  cursor: pointer;
  background-color: #e8e7e7;
}

.each-all label { font-size: 12px; display: block; font-weight: 1000; color: #ada8a8; margin-top: 4px; padding-left: 8px; }

.top {
  padding: 5px 25px;
  margin-bottom: 25px;
}

.content {
  padding: 35px 25px;
  flex: 1;
  margin-bottom: 10px;
  width: fit-content;
}

.sub-title {
  color: gray;
  font-size: 15px;
  padding: 0 5px;
  display: block;
  position: relative;
  width: 100%;
}

.rules-box-select {
  width: 100%;
  padding: 35px 15px;
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.row > * {
  margin-right: 25px;
}

.msg-box {
  font-size: 13px;
  display: none;
  color: gray;
  vertical-align: middle;
  height: fit-content;
  margin-bottom: 5px;
}

.box-holder {
  min-width: 50%;
  min-height: 100px;
  display: block;
  max-width: 60%;
  margin-bottom: 10px;
}

.sel-box {
  width: 100%;
  min-height: 100px;
  display: block;
  height: 100%;
  background-color: #f3efef;
  border: 1px dashed #d6d6d6;
  border-radius: 3px;
}

.conditions-select .material-input-holder {
  margin-top: 30px !important;
}

.material-input-holder {
  margin-top: 15px !important;
}

.material-input-holder > input {
  padding: 5px 10px 10px 5px !important;
}

.icon-error {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-bottom: -4px;
}

.cond-group {
  background-color: #e0e0e0;
  padding: 4px 5px;
  margin: 3px;
  border-radius: 5px;
}

.cond-group .toast-item {
  margin: 0;
  margin-right: 3px;
}

.cond-group .toast-item:hover {
  background-color: white;
  color: black;
}

.cond-group:hover {
  background-color: #ff7676;
  cursor: pointer;
}

.buttons-holder {
  display: block;
  padding: 15px;
}

#gift-name {
  font-size: 15px !important;
  font-weight: 700;
  min-width: 250px;
}

#id {
  display: none;
}

.check-options {
  display: grid;
}

.pure-material-checkbox {
  transform: scale(0.9);
}

.add {
  display: inline;
  right: 0;
  position: absolute;
  padding: 3px;
}

.sku-input-holder {
  margin-top: 35px !important;
}

.info {
  vertical-align: middle;
  font-size: 12px;
  max-width: 80%;
  display: block;
  color: #8c8c8c;
}

.info .mini-icon-button {
  margin-bottom: -8px;
}

.material-input-holder > label {
  margin-top: -5px !important;
}
