.main-content{width: fit-content;min-width: 50%;margin: auto;padding-top: 70px;padding-left: 3px;padding-right: 3px;overflow-y: auto;}

.show-all{
  width: auto;
  margin-bottom: 15px;
  padding: 8px 12px;
}

.all-rules{
  overflow-x: hidden;
  display: flex;
  margin-top: 5px;
}

.each-all{
  display: inline-block;
  margin-right: 10px;
  margin-left: 2px;
  margin-bottom: 4px;
  padding: 8px 4px;
  min-height: 60px;
  margin-top: 3px;
  position: relative;
}

.each-all span{
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  min-width: 100px;
  max-width: 150px;
  padding-left: 6px;
  vertical-align: top;
  font-weight: 600;
  color: #616163;
}


.each-all img{
  width: 25px;
  height: 25px;
  margin-top: -4px;
}

.each-all:hover *{
  cursor: pointer;
}

.each-all:hover{
  cursor: pointer;
  background-color: #e8e7e7;
}


.each-all label{font-size: 12px;display: block;font-weight: 1000;color: #ada8a8;margin-bottom: 4px;margin-right: 5px;position: absolute;bottom: 0;right: 0;}




.top{
  padding: 5px 25px;
  margin-bottom: 25px;
}
.content{
  padding: 35px 25px;
}

.sub-title {
  color: gray;
  font-size: 15px;
  padding: 0px 5px;
  display: block;
  position: relative;
  width: 100%;
}

.rules-box-select{
  width: 100%;
  padding: 35px 15px;
}

.row{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.row > *{
  margin-right: 25px;
}

.msg-box{
  font-size: 13px;
  display: none;
  color: gray;
  vertical-align: middle;
  height: fit-content;
  margin-bottom: 5px;
}

.box-holder{
  min-width: 50%;
  min-height: 100px;
  display: block;
  max-width: 60%;
  margin-bottom: 10px;
}

.sel-box{
  width: 100%;
  min-height: 100px;
  display: block;
  height: 100%;
  background-color: #f3efef;
  border: 1px dashed #d6d6d6;
  border-radius: 3px;
}

.conditions-select .material-input-holder{
  margin-top: 30px !important;
}


.material-input-holder{
  margin-top: 15px !important;
}

.material-input-holder>input{
  padding: 5px 10px 10px 5px !important;
}

.toast-item{
  background-color: white;
  border-radius: 5px;
  padding: 3px  8px;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid #d6d6d6;
  display: inline-block;
}

.toast-item:hover{
  background-color: #ff7676;
  cursor: pointer;
  color: white;
}

.icon-error{
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-bottom: -4px;
}


.cond-group{
  background-color: #e0e0e0;
  padding: 4px 5px;
  margin: 3px;
  border-radius: 5px;
}


.cond-group .toast-item{
  margin: 0;
  margin-right: 3px;
}


.cond-group .toast-item:hover{
  background-color: white;
  color: black;
}


.cond-group:hover{
  background-color: #ff7676;
  cursor: pointer;
}

.buttons-holder{
  display: block;
  padding: 15px;
}

#gift-name{
  font-size: 15px !important;
  font-weight: 700;
  min-width: 250px;
}

#id{
  display: none;
}

.check-options{
  display: grid;
}

.pure-material-checkbox{
  transform: scale(0.9);
}

.add{
  display: inline;
  right: 0;
  position: absolute;
  padding: 3px;
}


.sku-input-holder{
  margin-top: 35px !important;
}
