.main-content{width: fit-content;min-width: 50%;margin: auto;padding-top: 80px;padding-left: 3px;padding-right: 3px;}

.top{
  padding: 5px 25px;
  margin-bottom: 25px;
}
.content{
  padding: 35px 25px;
}

.sub-title {
  color: gray;
  font-size: 15px;
  padding: 10px 5px;
  display: block;
  width: fit-content;
}

.rules-box-select{
  width: 100%;
  padding: 35px 15px;
}

.row{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.row > *{
  margin-right: 25px;
}

.msg-box{
  font-size: 13px;
  display: none;
  color: gray;
  vertical-align: middle;
  height: fit-content;
  margin-bottom: 5px;
}

.box-holder{
  min-width: 50%;
  min-height: 100px;
  display: block;
  max-width: 60%;
  margin-bottom: 10px;
}

.sel-box{
  width: 100%;
  min-height: 100px;
  display: block;
  height: 100%;
  background-color: #f3efef;
  border: 1px dashed #d6d6d6;
  border-radius: 3px;
}

.conditions-select .material-input-holder{
  margin-top: 30px !important;
}


.material-input-holder{
  margin-top: 15px !important;
}

.material-input-holder>input{
  padding: 5px 10px 10px 5px !important;
}

.toast-item{
  background-color: white;
  border-radius: 5px;
  padding: 3px  8px;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid #d6d6d6;
  display: inline-block;
}

.toast-item:hover{
  background-color: #ff7676;
  cursor: pointer;
  color: white;
}

.icon-error{
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-bottom: -4px;
}


.cond-group{
  background-color: #e0e0e0;
  padding: 4px 5px;
  margin: 3px;
  border-radius: 5px;
}


.cond-group .toast-item{
  margin: 0;
  margin-right: 3px;
}


.cond-group .toast-item:hover{
  background-color: white;
  color: black;
}


.cond-group:hover{
  background-color: #ff7676;
  cursor: pointer;
}

.buttons-holder{
  display: block;
  padding: 15px;
}

#gift-name{
  font-size: 15px !important;
  font-weight: 700;
}

#id{
  display: none;
}
