body {
  background-color: #009587;
  bottom: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

.login-form {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
  border-radius: 3px;
  width: 300px;
}

.error {
  display: none;
  margin-bottom: 15px;
  font-size: 13px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.login-els {
  display: grid;
  padding: 40px;
  margin: auto;
  margin-top: 15px;
}

#logo {
  width: 100px;
  height: 100px;
  border: solid 0 white;
}

#guest {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.img-holder {
  display: inline-block;
  width: 100%;
  background-color: #1c796b;
  padding-top: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-bottom: 20px;
}

.login-title {
  color: white;
  font-size: 16px;
  padding-top: 15px;
  display: block;
}

.sub-title {
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
  margin: auto;
  color: #92919bd9;
  /* text-shadow: 2px 2px 5px #d1eae6; */
  font-size: 18px;
  font-weight: bold;
}

.forget,
.signin {
  cursor: pointer;
  font-size: 17px;
}

.forgot-pass {
  font-size: 16px;
  display: block;
  margin-top: 15px;
  color: #929292;
  border: 2px solid #ececec;
  border-radius: 12px;
  background: #ecececad;
  padding: 8px;
}

.forgot-pass:hover {
  border: 2px solid #f97c80;
  border-radius: 12px;
  background: #fff;
  color: #f97c80;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}

.email {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

@-webkit-keyframes login-form {
  0% {
    transform: rotateY(0deg);
  }

  5%,
  10%,
  15% {
    transform: rotateY(45deg);
  }

  20%,
  25%,
  30% {
    transform: rotateY(90deg);
  }

  35%,
  40%,
  45% {
    transform: rotateY(180deg);
  }

  65%,
  75%,,
  85%,
  95%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes login-form {
  0% {
    transform: rotateY(0deg);
  }

  5%,
  10%,
  15% {
    transform: rotateY(45deg);
  }

  20%,
  25%,
  30% {
    transform: rotateY(90deg);
  }

  35%,
  40%,
  45% {
    transform: rotateY(180deg);
  }

  65%,
  75%,
  85%,
  95%,
  100% {
    transform: rotateY(0deg);
  }
}
