.main-table {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  min-width: 300px;
  min-height: 300px;
  display: inline-block;
  padding-bottom: 15px;
  width: -webkit-fill-available;
  margin-left: 15px;
  margin-bottom: 15px;
}

.box-title {
  padding: 10px 12px;
  margin-left: 3px;
  margin-top: 3px;
  display: block;
  position: relative;
  display: flex;
}

.box-title > label {
  font-size: 16px;
  color: #656565;
  font-weight: bolder;
  vertical-align: super;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}

.box-title > img {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.box-content {
  display: block;
  padding: 0 18px;
  position: relative;
}

.material-input-holder > input {
  width: -webkit-fill-available !important;
}

.material-input-holder {
  margin-top: 5px;
}

.pure-material-checkbox > span {
  font-size: 14px;
  min-height: 30px;
}

.pure-material-checkbox {
  padding-bottom: 5px;
  display: flex !important;
}

.button {
  padding: 8px 0;
}

.box-content-api-holder {
  border-radius: 5px;
  border: 1px solid #dcd7d7;
  width: 95%;
  margin: auto;
  padding: 0;
}

.box-content-api {
  display: flex;
  padding: 0 18px;
  position: relative;
}

.box-content-api .material-input-holder {
  margin-right: 10px;
}

.api-item {
  margin-right: 10px;
}

.api-item:hover {
  cursor: pointer;
}

.save {
  height: fit-content;
}

#api-permission {
  max-width: 30px;
}

.table-api {
  width: 100%;
}

.table-api tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-api td {
  padding: 5px;
}

.menu-dots {
  padding-left: 20px;
  margin: auto;
  margin-right: 0;
}

.item-span {
  display: flex;
  font-size: 13px;
  width: 100%;
}

.title td {
  background-color: #dadada;
  color: #545454;
  font-size: 13px;
}

.table-api td:nth-child(1) {
  width: 100px;
}
