.main-menu-nav {
  background-color: #00796b;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.menu-item > a {
  display: -webkit-box;
  width: fit-content;
  height: fit-content;
  padding: 17px;
  outline: none !important;
  text-decoration: none !important;
}

#logo {
  width: 30px;
  cursor: pointer;
  height: 30px;
  margin: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.main-menu-ul {
  margin: 0;
  padding-right: 0;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0;
}

.menu-button {
  position: relative !important;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  outline: 0;
}

.menu-label {
  color: #dfdfdf;
  padding-bottom: 3px;
  transition: all 0.1s ease-in-out;
}

.menu-item {
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.sub-menu-ul > .menu-item > a {
  padding: 8px !important;
}

.sub-menu-ul > .menu-item {
  padding: 0 10px;
  margin-left: 0;
}

/* On Menu Active */
.focus-menu.menu-item,
.menu-item:hover {
  background-color: #00000014;
}

.focus-menu.menu-item .menu-label,
.menu-item .menu-label:hover {
  color: white;
  border-bottom: 2px solid #fff;
}

.sub-menu-nav {
  padding-left: 70px;
  position: fixed;
  width: 100%;
  top: 50px;
  text-align: center;
  z-index: 2;
  display: flex;
  background-color: #009587;
}

.sub-menu-ul {
  margin: 0;
  width: 100%;
  padding-right: 0;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0;
}

.user-logged-holder {
  margin-left: auto;
  cursor: pointer;
  margin-right: 0;
  display: inline-block;
  height: 40px;
  padding-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
}

.user-logged-img {
  display: inline-block;
  width: 35px !important;
  height: 35px !important;
}

.user-logged-name {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding-left: 2px;
  font-size: 13px;
  position: static;
}

#user-logged-id {
  display: none;
}

.subtitles {
  position: absolute;
  display: table;
  height: 35px;
  right: 0;
}

.subtitle-item {
  vertical-align: middle;
  display: table-cell;
}

.subtitle-label {
  padding: 2px 3px;
  color: white;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 30px;
  font-family: Roboto, sans-serif;
  display: table-cell;
  vertical-align: middle;
}

.subtitle-color {
  height: 20px !important;
  width: 20px !important;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
}
