
.products-in-holder{
  display: none;
}




.main-content{
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 35px;
  width: 80%;
  overflow-x: hidden;
  margin: auto;
  text-align: left;
}

.header-holder{
  width: 100%;
  display: flex;
  text-align: center;
}

.info-holder{
  text-align: left;
  padding-bottom: 0;
  margin-right: 20px;
  display: inline-block;
  width: -webkit-fill-available;
}

.search-holder{
  padding: 20px 25px;
  text-align: center;
  max-width: 260px;
  width: -webkit-fill-available;
  display: -webkit-inline-box;
}


input{
  font-size: 15px;
}

.middle-line{
  padding: 5px 10px;
  margin-top: 15px;
  display: flow-root;
  height: fit-content;
}

.middle-line-inner{
  display: -webkit-box;
}


.left-middle-line{
  width: 40%;
  float: left;
  height: fit-content;
  padding-bottom: 4px;
  position: relative;
}


.right-middle-line{
  width: 60%;
  float: right;
  height: fit-content;
  position: relative;
}

.info{
  overflow: hidden;
  white-space: pre-wrap;
  width: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.highlighted{
  font-size: 20px;
  font-weight: 600;
}



.info-line{
  padding-bottom: 5px;
  min-width: -webkit-fill-available;
  display: -webkit-inline-box;
}

.field-title{
  font-size: 13px;
  padding-bottom: 3px;
  color: rgb(116, 114, 116);
  display: -webkit-box;
  width: fit-content;
}

.field{
  margin-bottom: 8px;
  vertical-align: middle;
  display: inline-block;
}


.pack-holder{
  display: flex;
}


.icon{
  padding: 2px;
  margin-left: 0px;
  margin-right: 6px;
  width: 35px;
  min-width: 35px;
  display: inline-block;
  height: 35px;
  min-height: 35px;
  vertical-align: middle;
}

.mini-icon{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.circle.icon {
  border: 0 !important;
}





.mini-alert{
  vertical-align: top;
  position: relative;
  margin-top: -4px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  display: none;
  cursor: help;
}



.product-icon{
  width: 28px;
  height: 28px;
}

.material-input-holder{
  margin-top: 25px;
}

.material-input-holder>label{
  font-weight: 600 !important;
  font-size: 15px !important;
  min-width: 340px;
  margin-top: 18px;
}

.material-input-holder>input{
  font-size: 18px !important;
  font-weight: 600 !important;
}

#product-ean{
  font-size: 16px;
  min-width: 200px;
  margin-left: 10px;
  margin-top: 7px;
  display: inline-block;
}

.products-table-holder{
  height: fit-content;
  margin-top: 15px;
  padding-top: 2px;
}


.product-val{
  font-size: 15px;
  color: #434446;
}


.long-desc{
  font-size: 13px;
}


table{
  width: 100%;
}

.products-table tr:first-child td{
  background-color: white !important;
  z-index: 2;
}
.products-table tr:first-child{
  color: rgb(116, 114, 116);
  font-size: 12px;
}


.products-table tr:nth-child(even) {
  background-color: #ddd6d757;
}

.products-table td{
  text-align: left;
  border-bottom: 1px solid #e4e4e4;
  padding: 8px 10px;
}

.product-ean-holder{
  /* display: -webkit-inline-box; */
  /* max-width: 500px; */
  height: fit-content;
  width: fit-content;
}

.product-ean-and-icon{
  display: flex;
  width: fit-content;
  padding-bottom: 8px;
}

.product-msg{
  position: relative;
  display: none;
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  /* padding-bottom: 8px; */
  /* padding-top: 8px; */
  float: left;
}


.main-msg{
  padding-left: 5px;
  font-size: 13px;
  color: rgb(152, 145, 143);
}

.skrink{
  min-width: 70px;
}


.sale-content{
  padding-bottom: 150px;
}

.status-holder{
  vertical-align: middle;
  margin: auto;
  padding: 0;
  display: inline-flex;
}

.status-holder .info{
  font-size: 13px;
  width: 80px;
  text-overflow: ellipsis;
}


#itens-progress{
  font-size: 15px;
  color: rgb(143, 143, 148);
  padding: 5px;
  height: fit-content;
  margin-left: 10px;
  margin-top: 7px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.cursor-img, .cursor-img > *{
  cursor: -webkit-grab !important;
}

.icon-open-list{
  float: right;
  margin-right: -10px;
  margin-bottom: -14px;
  margin-top: -5px;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.title-product-closed{
  vertical-align: middle;
  position: absolute;
  background: #ffffff;
  width: 90%;
  padding: 0px 6px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #777777;
  margin-top: -25px;
  margin-right: 40px;
  height: auto;
  z-index: 222;
  display: inline-block;
}

.last-product-holder{
  display: none;
  min-width: 100%;
  margin: 0px -0px;
}
.sku-header{
  display: flex;
  position: relative;
  background: white;
  width: 100%;
}

#last-product-img{
  width: 90%;
  margin-bottom: -15px;
  border-radius: 5px;
}

#last-product-sku{
  text-align: right;
  font-size: 13px;
  font-weight: 600;
  margin-left: auto;
}

.progress-line.inner{
  background-color: #4ad44f;
  padding: 0;
  margin: 0;
  width: 0;
}

.progress-line{
  background-color: rgb(224, 224, 220);
  margin-bottom: 12px;
  height: 3px;
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 6px;
}


.editable-infos-holder{
  display: none;
  background-color: #e6e7e673;
}

.line-here td{
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
}



.picking-over{
  font-size: 16px;
  padding: 0 !important;
  border: 0 !important;
  width: 135px;
}

.editable-info{
  text-align: left;
  margin-right: 20px;
  display: inline-block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 2px transparent;
  text-transform: uppercase;
  border-style: none none solid none;
}

.editable-info:focus{
  color: black;
  border-radius: 0px;
  border: 2px #1c796b;
  border-style: none none solid none;
}


.info-holder table tr:first-child td{
  padding-top: 20px;
}

.info-holder table tr:last-child td{
  padding-bottom: 8px;
}


.info-holder table td:first-child{
  padding-left: 25px;
}

.info-holder table td:last-child{
  padding-right: 25px;
}



.main-msg-span{
  padding: 20px 25px;
}

.dropdown-content li{
  min-height: fit-content !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  line-height: 15px !important;
}

#sale-package-type{
  text-transform: none !important;
  margin-right: 0;
}

.buttons-holder{
  display: block;
  float: right;
  top: 0;
}

.button{
  position: relative;
  padding: 10px 25px;
  font-size: 14px;
  margin-right: 12px;
  float: right;
}

.buttons-holder > .button{
  display: none;
}


.ncm-input{
  text-align: left;
  font-size: 13px;
  width: fit-content;
  max-width: 100px;
} 


.charts-holder-box{width: 100%;margin: auto;}

.group-single-holder.this-month{
  grid-column: 2 / 4;
}

.group-single-holder.this-year{
  grid-column: 1 / 4;
}
