
.main{
  height: 90%;
  width: 100%;
  display: flex;
  max-height: 95%;
  margin: auto;
  margin-top: 95px !important;
  flex-direction: row;
}

.divider {
  height: 100%;
  flex: 0 1 50%;
  flex-wrap: wrap;
}

.box-group {
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  padding: 15px;
  max-width: 100%;
  width: fit-content;
}

.box{
  padding: 8px 6px;
  display: flex;
  max-width: 340px;
  height: fit-content;
  align-items: stretch;
}


.content-row{
  flex: 0 1 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: fit-content;
}


.content-row > div{
  flex: auto;
}





.left-column{
  flex: 0 1 60% !important;
}

.label{
  font-size: 16px;
  padding-bottom: 10px;
  display: block;
}

.prod-img{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}



.sku {
  font-size: 14px;
  display: block;
  padding-bottom: 1px;
}

.brand{
  color: gray;
  font-size: 12px;
  display: block;
}

.product-info {
  flex: 0 1 22%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.mini-red-circle{

  height: 12px;
  font-size: 11px;
  display: block;
  position: absolute;
  bottom: 13;
}

.mini-avatar{
  width: 25px;
  height: 25px;
  margin-left: 0;
}

.img-holder {
  position: relative;
  flex: 0 1 25%;
  height: fit-content;
  flex-wrap: wrap;
  align-items: flex-start;
}

.content-holder {
  flex: 0 1 75%;
  flex-wrap: wrap;
  height: fit-content;
}



.circle{
  border: 1px solid #f7f7f7 !important;
  padding: 2px;
}



.local{
  font-size: 12px;
  padding-top: 1px;
  display: block;
  color: #928f8f;
  font-weight: 600;
  padding-left: 1px;
  /* min-width: 100px; */
}

.info-inner{
  display: block;
  text-align: end;
  margin-right: 5px;
}

.title-mini {
  font-size: 12px;
  color: #444343;
  margin-top: 10px;
  display: block;
  min-height: 10px;
}


.print-local{
  margin-bottom: -10px;
  /* position: absolute; */
  width: 22px;
  height: 22px;
  right: 0;
  margin: 3px 5px;
}

.print-local:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.last-column{width: 40px;}

.box-header {
  width: 100%;
}

.header-title {
  width: fit-content;
  font-size: 15px;
  background-color: transparent;
}

.header-count{
  vertical-align: top;
  margin: auto;
  display: inline-flex;
  margin-top: -30px;
  font-size: 15px;
  float: right;
  background-color: transparent;
}

.icon-dots{
  float: right;
}

.icon-dots>img{
  margin: 1px 8px;
}

.grid-flow {
  padding: 5px;
  max-height: calc(100% - 35px);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(340px, 1fr) );
  grid-gap: 10px;
  max-width: 100%;
  margin-bottom: 5px;
  width: fit-content;
}


.sales{
  text-align: right;
  font-size: 12px;
  display: block;
  margin-right: -28px;
  margin-top: 2px;
  color: #848484;
}


.extra-count{
  border-left: 3px solid #ff7a7a;
  background-color: #ff000024;
}

.extra-count .prod-img{
  border: 2px solid #f9baba;
}


.extra-reserved{
  border-left: 3px solid #ff8d00;
  background-color: #ff8d003b;
}

.extra-reserved .prod-img{
  border: 2px solid #ff8d0073;
}


.extra-stock{
  border-left: 3px solid #637dff;
  background-color: #002bff24;
}


.extra-stock .prod-img{
  border: 2px solid #004eff38;
}
