body, span, div, td{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
}

p{
  margin: 0;
}

span{
  font-size: 16pt;
  font-weight: bold;
  width: 1%;
  white-space: nowrap;
}

.main{
  page-break-inside:avoid;
  page-break-after:always;
}

.obs{
  font-size: 17pt;
  font-weight: 500;
  padding-top: 5px;
}

.obs>p{
  padding-bottom: 5px;
}

.user-name{
  text-align: right;
  font-weight: 600;
  font-size: 17pt;
  padding: 10px;
  white-space: nowrap;
}

table{
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

tr{
  border-bottom: 1px solid gray;
}

tr:nth-last-child(2){
  border-bottom: 1px dashed gray;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
td{
  padding: 6px;
}


.sale-number{
  font-size: 25pt;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
}

.sale-date{
  padding-top: 5px;
  font-size: 15pt;
  font-weight: bold;
}

.sale-client-name{
  font-size: 14pt;
  white-space: nowrap;
  font-weight: bold;
}

.sale-order{
  padding-top: 5px;
  font-size: 15pt;
  font-weight: bold;
}

.sku{
  margin: 10px 0px;
  font-size: 17pt;
  display: -webkit-inline-box;
  font-weight: 800;
  padding-right: 5px;
}

.ean{
  font-size: 17pt;
  font-weight: 600;
}

.local{
  font-size: 16pt;
  font-weight: 800;
  white-space: normal;
}

.qtd{
  padding: 5px 10px;
  font-size: 17pt;
  vertical-align: middle;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
}

.qtd-border{
  border: 2px solid black;
}

.total-line{
  background-color: transparent !important;
  border-bottom: 0;
  margin-top: 10px;
}

.total{
  padding-top: 20px;
}


.col-sku{
  width: auto;
}

.col-ean{
  width: 1%;
  white-space: nowrap;
}

.col-local{
  padding-left:  10%;
  width: auto;
}

.col-qtd{
  width: 10%;
  text-align: center;
}
