html,body {
  height:100%;
}

.main{
  display: flex;
  overflow: hidden;
  margin-top: 100px;
  height: 100%;
  flex-direction: inherit;
  padding: 0;
  margin-left: 0;
}

.left{
  flex: 0 auto;
  overflow-y: auto;
  display: block;
}

.right{
  flex: 0 1 80%;
  display: -webkit-box;
  position: relative;
  height: 90%;
}


.box{
  display: block;
  margin-right: 15px;
  position: relative;
  max-height: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 300px;
}

.box-items-holder{
  display: -webkit-box;
  width: fit-content;
  padding: 3px 5px;
}

.line-item{
  width: -webkit-fill-available;
  padding: 5px 10px;
}

.line-title:hover{
  background-color: #e0dfdf !important;
}

.line-title{
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #e0dfdf;
  border-bottom: 1px solid #e2e0e0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: -webkit-fill-available;
}

.fit-box{height: fit-content;margin-left: 15px;margin-bottom: 15px;margin-right: 15px;max-height: fit-content;}

.box-lines-holder{
  width: 100%;
  max-height: 100%;
  position: relative;
  overflow-y: hidden;
  height: 99%;
}

.box-lines-holder:hover{
  overflow-y: auto;
}

.box-item{
  padding: 6px 0px;
  display: -webkit-inline-box;
  min-width: 90px;
}

.box-item:hover *, .box-item:hover{
  cursor: pointer;
}

.title-box{padding: 10px 15px;display: -webkit-inline-box;font-size: 14px;color: #5d5b5b;font-weight: 600;}

.box-item-text{display: block;margin-bottom: 8px;}

.box-item-text label{
  display: block;
  padding: 2px 4px;
  color: #8e8c8c;
}

.line-item label{
  display: -webkit-inline-box;
  padding: 2px 4px;
  color: #423f3f;
}

.line-item .data-quantity{
  float: right;
}

.line-item .data-count{
  float: right;
  font-size: 14px;
}

.line-item:hover * {
  cursor: pointer;
}

.line-item:hover{
  cursor: pointer;
  background-color: #f3f3f3;
}

.data-title{font-size: 15px;text-transform: capitalize;color: #353434 !important;}

.data-quantity{font-size: 14px;}

.data-count{
  font-size: 12px;
}

.graph{
  margin-left: 5px;
  margin-right: 3px;
  margin-top: 3px;
  width: 36px;
  height: 36px;
}

.color-circle{
  width: 32px;
  height: 32px;
  border: solid 2px #efefef;
  border-radius: 50%;
  background-color: #989898;
  display: -webkit-box;
}

.cl-offwhite{
  background-image: linear-gradient(124.1deg, #fffedb 12.3%, #fffef1 65.2%);
}

.cl-branco{
  background: #fff;
}


.cl-preto{
  background-image: linear-gradient(124.1deg, #000 12.3%, rgba(70, 70, 70, 0.95) 65.2%);
  background:;
}

.cl-rosa{
  background-image: linear-gradient(124.1deg, rgb(255, 148, 215) 12.3%, rgb(255, 201, 238) 65.2%);
}

.cl-verde{
  background-image: linear-gradient(124.1deg, #3ed276 12.3%, #55ff95 65.2%);
}

.cl-pink{
  background-image: linear-gradient(124.1deg, #d530dc 12.3%, #f856ff 65.2%);
}

.cl-bordo{
  background-image: linear-gradient(124.1deg, #871716 12.3%, #c53c3b 65.2%);
}

.cl-azul{
  background-image: linear-gradient(124.1deg, #2653ff 12.3%, #5d7eff 65.2%);
}

.cl-vermelho{
  background-image: linear-gradient(124.1deg, #ff2e2e 12.3%, #ff6a6a 65.2%);
}

.cl-jeans{
  background-image: linear-gradient(124.1deg, #4b78c3 12.3%, #8297bb 65.2%);
}

.cl-cinza{
  background-image: linear-gradient(124.1deg, #808080 12.3%, #a9a9a9 65.2%);
}

.cl-lilas{
  background-image: linear-gradient(124.1deg, #765277 12.3%, #916892 65.2%);
}

.cl-amarelo{
  background-image: linear-gradient(124.1deg, #ffee00 12.3%, #fffaae 65.2%);
}


.cl-azulmarinho{
  background-image: linear-gradient(124.1deg, #0b006b 12.3%, #16069c 65.2%);
}

.cl-salmao{
  background-image: linear-gradient(124.1deg, #f1ae8c 12.3%, #ffbc9b 65.2%);
}

.cl-laranja{
  background-image: linear-gradient(124.1deg, #ffa700 12.3%, #ffb935 65.2%);
}

.cl-colorido{
  background-image: radial-gradient(43px at -5.4% 62.1%, rgb(252, 85, 85) 1.7%, rgb(249, 194, 132) 19%, rgb(188, 247, 118) 35.3%, rgb(246, 248, 155) 52.2%, rgb(164, 251, 247) 68.1%, rgb(183, 185, 252) 82.4%, rgba(253, 176, 194, 0.96) 93.2%);
}

.cl-roxo{
  background-image: linear-gradient(124.1deg, #ac2fde 12.3%, #c533ff 65.2%);
}


.cl-dourado{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #bb8e2e 30%, #ab893c 40%, transparent 80%),                 radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #e8a400 62.5%, #c39427 100%);
}

.cl-royal{
  background-image: linear-gradient(124.1deg, #4643bb 12.3%, #5855cc 65.2%);
}

.cl-transparente{
  background-color: #f5f5f5;
}

.cl-prata{
  background: linear-gradient( -72deg, #dedede, #c3bebe 16%, #dedede 21%, #c5c0c0 24%, #c5c0c0 27%, #dedede 36%, #f1eaea 45%, #e0dcdc 60%, #dedede 72%, #e8e8e8 80%, #dedede 84%, #a1a1a1 );
}

.cl-vinho{
  background-image: linear-gradient(124.1deg, #904366 12.3%, #a75479 65.2%);
}

.cl-marrom{
  background-image: linear-gradient(124.1deg, #7d4948 12.3%, #b16666 65.2%);
}

.cl-bege{
  background-image: linear-gradient(124.1deg, #f3c59d 12.3%, #f5e2d2 65.2%);
}



.count-label{
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  border: 1px solid #ecdfdf;
  padding: 2px 6px !important;
  font-size: 11px;
  color: #908d8d !important;
}


.single-right-col{padding-left: 1px;}

.single-right-col {
  overflow-y: auto;
  display: block;
}

.single-right-col .box{height: fit-content;margin-bottom: 15px;}


.menu-dots {
  float: right;
  margin-top: 2px;
}
