.panels{
  display: flex;
  max-width: 95%;
  margin: auto;
  height: 98%;
}

.main-content{
  margin-top: 100px !important;
  /* padding-bottom: 5px; */
  height: 100%;
  overflow-y: scroll !important;
}



.left-panel{
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  height: 90%;
  flex: 0 1 45%;
  max-width: 45%;
  /* margin-bottom: 140px; */
}

.main-panel{
  flex: 0 80%;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  height: 94%;
  /* flex-wrap: wrap; */
  /* align-items: flex-start; */
  flex-direction: column;
}


.image-holder{
  padding: 10px;
  display: flex;
  text-align: center;
  margin: auto;
  width: fit-content;
}

.top-image-holder{
  /* padding: 2px 15px; */
  background-color: #efebeb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top-label{
  color: gray;
  width: fit-content;
  display: inline-block;
  padding: 3px 1px;
  font-size: 13px;
  cursor: default;
  padding: 2px 5px;
  font-weight: 400;
}

#top-sku{
  color: #272424;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#top-brand{
  color: #272424;
  font-size: 14px;
  padding: 10px 10px;
  float: right;
  display: -webkit-box;
  cursor: pointer;
}

#top-product-name{
  color: #272424;
  font-size: 14px;
  padding: 10px 10px;
  cursor: pointer;
}


#image{
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 10px;
  background: white;
  min-height: 180px;
  max-height: 260px;
}



.search-holder{
  padding: 20px 35px;
  max-width: 90%;
  position: relative;
}


#search{
  font-weight: 600;
  font-size: 15px;
  position: relative;
}

.search-hint{
  float: right;
  margin-top: -23px;
  font-size: 11px;
  font-weight: 600;
}



.attribute-name{
  display: block;
  color: gray;
  width: fit-content;
  padding: 3px 1px;
  font-size: 13px;
  font-weight: 400;
}

.attribute-value{
  display: block;
  color: #302d2d;
  width: fit-content;
  padding: 0px 1px;
  font-size: 15px;
}

.attribute-holder{
  padding-bottom: 5px;
  margin-left: 10px;
  display: block;
}

.product-attributes{
  padding-top: 5px;
  width: 100%;
  border-top: 1px dashed #e6e7e6;
  border-bottom: 1px dashed #e6e7e6;
}

.title-col{
  color: #989898;
  font-size: 13px;
  text-align: center;
  border-bottom: 1px dashed #e6e7e6;
  padding: 5px 10px;
}

.title-holder{
  height: fit-content;
}



.table-child-skus{
  width: 100%;
  vertical-align: super;
}

#child-skus-holder{
  width: 100.1%;
  height: auto;
}


.tr-child, .footer{
  background-color: #dedede14;
}


.tr-child{
  height: fit-content
}

.tr-child, .td-child, .td-child > *{
  cursor: pointer;
}

.td-child{
  height: fit-content;
  padding: 8px 5px;
}


.child-value{
  text-align: center;
  height: fit-content;
  font-size: 14px;
  display: block;
  font-weight: 500;
}


.child-sku{
  padding-left: 5px;
  font-size: 15px !important;
  font-weight: 800;
  text-align: left !important;
  width: max-content;
}

.child-ean{
  padding-left: 5px;
  font-size: 13px !important;
  padding-top: 4px;
  display: -webkit-box;
  text-align: left !important;
  color: #989898 !important;
}




.footer td{
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  color: #585757;
  border-top: 1px dashed #e6e7e6;
  text-align: center;
  cursor: default !important;
}

tr.selected td:first-child{
  border-left: 4px solid #9393ff;
}

.selected{
  background-color: white;
  -webkit-box-shadow: 0.5px 0.5px 3px 3px #9393ff36;
  -moz-box-shadow: 0.5px 0.5px 3px 3px #9393ff36;
  box-shadow: 0.5px 0.5px 3px 3px #9393ff36;
}




.status-icon{
  position: absolute;
  top: 30px;
  width: 30px;
  margin-left: -26px;
  margin-top: -10px;
  max-width: 23px;
  max-height: 23px;
}

.lock{
  z-index: 99;
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  margin-top: -36px;
  margin-right: -35px;
}

#lock-user-id{
  opacity: 0;
  position: absolute;
}


.error-holder{
  height: auto;
}

.msg-error{
  color: red;
  font-size: 13px;
  text-align: left;
  padding: 5px 35px;
  vertical-align: super;
  font-weight: 600;
}

.title-bottom-holder{
  background: #e8e8e8;
  padding: 12px 15px !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
  border-bottom: 0px !important;
  color: #989898 !important;
}

.title-label{
  font-size: 15px;
  color: #302d2d;
  text-align: center;
  padding: 5px 0px;
}

.label-val-title{
  font-size: 12px;
  color: #828181;
  margin: 0px 5px;
  padding: 3px 5px;
  border-radius: 3px;
  border: solid 1px #4a494947;
}

.obs tr:nth-child(even) {
  background-color: #ddd6d757;
}


.obs{
  padding: 0px 8px;
  line-height: 20px;
  color: #4a4949;
  line-break: auto;
  font-size: 12px;
  word-wrap: break-word;
  white-space: pre-line;
}
.product-top{
  margin-top: 5px;
  min-width: 100%;
  padding-bottom: 2px;
  max-height: 40%;
  flex: 1;
}

.product-bottom{
  flex: 1;
  vertical-align: super;
  width: 100%;
  max-height: 54%;
  padding-top: 15px;
  display: flex;
}

.bottom-box{
  padding-bottom: 2px;
  /* height: 100%; */
  vertical-align: super;
  display: block;
  width: 50%;
  /* margin-bottom: 45px; */
}

.bottom-box:first-of-type{
  margin-right: 15px;
}
#stock-history{
  /* width: 100%; */
}

#stock-history .child-value {
  font-size: 13px !important;
}

.positive-row td:first-child {
  border-left: 5px solid #64dc9f;
}

.negative-row td:first-child {
  border-left: 3px solid #EDB2B2;
}

table{
  min-width: 100%;
}

.overflow{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.obs td.td-child{
  padding: 4px 4px !important;
}

.chart-label{
  display: none;
  color: gray;
  width: fit-content;
  font-size: 13px;
  font-weight: 400;
  padding: 12px;
}

.print-local{
  float: right;
  width: 22px;
  height: 22px;
}

.print-local:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.editable-input{
  width: fit-content;
  min-width: 100px;
  max-width: 100%;
  margin: auto;
}


.md-dropdown{
  margin-left: -120px;
}



.diag-alert{
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
  margin-top: -6%;
}

.main-menu-dots{
  width: fit-content;
  position: absolute;
  top: 20px;
  right: -24px;
}
