

.main-content{
  padding: 0px 30px;
}

.content{
  min-height: 400px;
  display: flex;
}

.header{
  border-bottom: 1px solid rgb(217, 220, 221);
  padding: 15px 30px;
}

.header-title{
  font-size: 19px;
}


.forms{
  width: fit-content;
  color: rgb(72, 66, 147);
  padding: 10px 15px;
  margin-left: 15px;
  min-width: 300px;
}

.link{
  padding: 10px 15px;
  outline: none;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #3c3c3c;
  font-weight: 700;
}

.group-title{
  font-size: 18px;
  padding: 20px 15px;
  color: rgb(40, 40, 41);
  font-weight: 600;
  display:block;
}

.job-status{
  width: 32px;
  height: 32px;
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.job-active{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.job-item td{
  padding: 4px 0px;
}

.job-name{
  font-size: 15px;
  margin-right: 10px;
}

.job-last{
  font-size: 13px;
  margin-right: 5px;
}
