
.main-content {
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 35px;
  width: 80%;
  overflow-x: hidden;
  margin: auto;
  text-align: left;
  position: relative;
}

.header-holder {
  width: 100%;
  display: flex;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.info {
  overflow: hidden;
  white-space: pre-wrap;
  width: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  vertical-align: bottom;
}

.highlighted {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.field-title {
  font-size: 13px;
  padding-bottom: 3px;
  color: rgb(116, 114, 116);
  display: -webkit-box;
  width: fit-content;
  height: fit-content;
}

.field {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
}

.icon {
  padding: 2px;
  margin-left: 0;
  margin-right: 6px;
  width: 35px;
  min-width: 35px;
  display: inline-block;
  height: 35px;
  min-height: 35px;
  vertical-align: middle;
}

.circle.icon {
  border: 0 !important;
}

table {
  width: 100%;
}

.shipping-order-col {
  float: left;
  margin-left: 15px;
}

.itens-count-display { margin-top: 6px; }

.middle-line {
  padding: 5px 10px;
  margin-top: 15px;
  display: flow-root;
  height: fit-content;
}

.middle-line-inner {
  display: -webkit-box;
  width: 100%;
}

.left-middle-line {
  width: 80%;
  float: left;
  height: fit-content;
  padding-bottom: 4px;
  position: relative;
  display: contents;
}

.right-middle-line {
  width: 20%;
  right: 0;
  height: fit-content;
  position: absolute;
  margin-right: 10px;
}

.progress-line.inner {
  background-color: #4ad44f;
  padding: 0;
  margin: 0;
  width: 0;
}

.progress-line {
  background-color: rgb(224, 224, 220);
  margin-bottom: 12px;
  height: 3px;
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 6px;
}

.nf-input-and-icon {
  display: flex;
  width: fit-content;
  padding-bottom: 8px;
}

.nf-input-holder {
  display: block;
  height: fit-content;
  width: fit-content;
}

.nf-input-icon {
  display: flex;
  width: fit-content;
  padding-bottom: 8px;
}

.nf-msg {
  position: relative;

  /* display: none; */
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  padding-top: 4px;
  float: left;
  min-width: 100%;
}

.nf-icon {
  width: 28px;
  height: 28px;
}

#nf {
  font-size: 16px;
  min-width: 200px;
  margin-left: 10px;
  margin-top: 7px;
  display: inline-block;
}

#progress {
  font-size: 15px;
  color: rgb(143, 143, 148);
  padding: 5px;
  height: fit-content;
  margin-left: 10px;
  margin-top: 7px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.buttons-holder {
  display: block;
  float: right;

  /* top: 0; */
}

.nfs-in-holder {
  height: fit-content;
  margin-top: 15px;
  padding-top: 2px;
  display: none;
  margin-bottom: 200px;
}

.icon-open-list {
  float: right;
  margin-bottom: -14px;
  margin-top: -5px;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.nfs-out-holder {
  margin-bottom: 150px;
  position: relative;
}

.bold {
  font-weight: 800;
  font-size: 18px !important;
  padding: 0 5px;
}

.memory-line td:first-child {
  border-left: 3px solid #009586ba;
}

#nfs-in td {
  padding: 8px 12px;
  font-size: 15px;
}

#nfs-in tr:nth-child(even) {
  background-color: #ddd6d757;
}

.ufs-list {
  display: block;
  font-size: 14px;
  font-weight: 900;
  color: #171717;
  text-align: left;
}

.mini-icon {
  width: 28px;
  height: 28px;
}

.title-closed {
  vertical-align: middle;
  position: absolute;
  background: #fff;
  width: 90%;
  padding: 0 6px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #777;
  margin-top: -25px;
  margin-right: 40px;
  height: auto;
  z-index: 222;
  display: inline-block;
}

.button {
  position: relative;
  padding: 10px 25px;
  font-size: 14px;
  margin-right: 12px;
  float: right;
}

.nfe-remove {
  width: 22px;
  height: 22px;
  float: right;
  margin-right: 5px;
}

.hightlight-line {
  border-left: 4px solid #8181f9;
}

.allow-difal-holder {
  transform: scale(0.9);
}

.difal-states {
  font-size: 12px;
  color: gray;
  display: block;
  padding-left: 6px;
  margin-top: 2px;
}
