


.main-content{
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 35px;
  width: 80%;
  overflow-x: hidden;
  margin: auto;
  text-align: left;
}

.header-holder{
  width: 100%;
  display: flex;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.info{
  overflow: hidden;
  white-space: pre-wrap;
  width: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  vertical-align: bottom;
}

.highlighted{
  font-size: 20px;
  font-weight: 600;
  position: relative;
}




.field-title{
  font-size: 13px;
  padding-bottom: 3px;
  color: rgb(116, 114, 116);
  display: -webkit-box;
  width: fit-content;
  height: fit-content;
}

.field{
  margin-bottom: 8px;
  margin-top: 8px;
  vertical-align: middle;
  display: inline-block;
}


.icon{
  padding: 2px;
  margin-left: 0px;
  margin-right: 6px;
  width: 35px;
  min-width: 35px;
  display: inline-block;
  height: 35px;
  min-height: 35px;
  vertical-align: middle;
}

.circle.icon {
  border: 0 !important;
}




table{
  width: 100%;
}


.shipping-order-col{
  float: left;
  margin-left: 30px;

}


.itens-count-display{margin-top: 6px;}




.middle-line{
  padding: 5px 10px;
  margin-top: 15px;
  display: flow-root;
  height: fit-content;
}

.middle-line-inner{
  display: -webkit-box;
}


.left-middle-line{
  width: 40%;
  float: left;
  height: fit-content;
  padding-bottom: 4px;
  position: relative;
}


.right-middle-line{
  width: 60%;
  float: right;
  height: fit-content;
  position: relative;
}



.progress-line.inner{
  background-color: #4ad44f;
  padding: 0;
  margin: 0;
  width: 0;
}

.progress-line{
  background-color: rgb(224, 224, 220);
  margin-bottom: 12px;
  height: 3px;
  margin-top: -5px;
  margin-left: -10px;
  margin-right: -10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 6px;
}


.nf-input-and-icon{
  display: flex;
  width: fit-content;
  padding-bottom: 8px;
}

.nf-input-holder{
  /* display: -webkit-inline-box; */
  /* max-width: 500px; */
  height: fit-content;
  width: fit-content;
}

.nf-input-icon{
  display: flex;
  width: fit-content;
  padding-bottom: 8px;
}

.nf-msg{
  position: relative;
  display: none;
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  /* padding-bottom: 8px; */
  /* padding-top: 8px; */
  float: left;
}

.nf-icon{
  width: 28px;
  height: 28px;
}


#nf{
  font-size: 16px;
  min-width: 200px;
  margin-left: 10px;
  margin-top: 7px;
  display: inline-block;
}



#progress{
  font-size: 15px;
  color: rgb(143, 143, 148);
  padding: 5px;
  height: fit-content;
  margin-left: 10px;
  margin-top: 7px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}


.buttons-holder{
  display: block;
  float: right;
  top: 0;
}

.nfs-table-holder{
  height: fit-content;
  margin-top: 15px;
  padding-top: 2px;
}
