.panels {
  height: 90%;
  display: flex;
  max-width: 80%;
  max-height: 95%;
  margin: auto;
  position: relative;
  margin-top: 2px;
}

.main-content {
  margin-top: 75px !important;
  padding-bottom: 5px;
}

.main-content {
  overflow: hidden;
}

.left-panel {
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  width: min-content;
  padding: 10px 18px;
}

.main-panel {
  padding: 10px;
  display: flex;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 20px;
  flex-flow: column;
  width: 100%;
}

.material-input-holder {
  display: inline-block;
}

.sub-title {
  position: relative;
  font-size: 15px;
  color: gray;
  margin-bottom: 10px;
  display: inline-block;
  width: fit-content;
  margin-top: 10px;
  height: 20px;
}

.button {
  margin: 5px 1px;
  text-align: center;
  min-width: 80px;
  display: inline-block;
  background-color: #1b6e61 !important;
  color: white !important;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
  float: right;
  cursor: pointer;
}

.dotted-top {
  border-top: 1px dashed #e6e7e6;
}

.separator {
  text-align: center;
  margin: 25px 0 0;
}

.separator label {
  position: relative;
  top: -11px;
  background: white;
  color: #e6e7e6;
}

.inline-holder {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

.add {
  display: inline;
  right: -5px;
  position: absolute;
  padding: 3px;
  bottom: 15px;
  z-index: 999;
}

.sel-box {
  width: 100%;
  min-height: 100px;
  display: block;
  background-color: #f3efef;
  border: 1px dashed #d6d6d6;
  border-radius: 3px;
}

.msg-box {
  font-size: 13px;
  display: none;
  color: gray;
  vertical-align: middle;
  height: fit-content;
  margin-bottom: 5px;
}

.icon-error {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  margin-bottom: -4px;
}

.toast-item {
  background-color: white;
  border-radius: 5px;
  padding: 3px  8px;
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid #d6d6d6;
  display: inline-block;
}

.toast-item:hover {
  background-color: #ff7676;
  cursor: pointer;
  color: white;
}

.product-select {
  position: relative;
}

.main-bottom {
  flex: 80;
  width: 100%;
  height: 80%;
  padding-top: 20px;
  display: flex;
  flex-flow: column;
}

.main-top {
  width: 100%;
  display: flex;
  flex-flow: column;
  flex: 20;
}

.approve-item {
  display: inline-flex;
  flex: auto;
  padding: 8px 5px 35px;
  position: relative;
  margin-right: 15px;
  border-radius: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px;
}

.to-be-approved-container-holder .approve-item {
  border: 1px solid #d8d8d8;
  border-top: 3px solid #f5c659;
  height: fit-content;
}

.approved-images-holder .approve-item {
  border: 1px solid #d8d8d8;
  border-top: 3px solid #43d46c;
}

.approve-item .client-image {
  padding-right: 5px;
  border-right: 1px solid #e5e7e6;
  width: 120px;
  object-fit: cover;
  max-height: 120px;
  border-radius: 2px;
}

.client-image:hover {
  cursor: pointer;
}

.approved-images-holder {
  height: fit-content;
}

.approve-item .preview-image {
  padding-left: 2px;
  z-index: 1;
  top: 0;
  right: 0;
  max-height: 120px;
  border-radius: 2px;
}

.preview-image:hover {
  cursor: pointer;
}

.to-be-approved-container-holder {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  flex: 1;
  height: fit-content;
}

.to-be-approved-images-holder {
  width: fit-content;
  height: 100%;
  display: flex;
}

.menu-dots {
  height: fit-content;
}

.dots-glyph {
  width: 15px !important;

  /* margin-right: -5px; */
  margin-left: 5px;
  height: 15px !important;
  padding: 3px;
  display: inline-flex;
  margin-top: -3px;
}

.tag {
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  color: white;
  font-size: 12px;
}

.skus-holder {
  position: absolute;
  bottom: 10px;
}

.approved-container-holder {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  flex: 1;
}

.fixed-info {
  margin-right: 10px;
  margin-bottom: 10px;
}

.search-holder {
  min-width: 100%;
}

.preview-image-holder {
  height: fit-content;
  max-height: 130px;
  width: fit-content;
  position: relative;
}

.multiple-skus {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-auto-flow: column;
}

.multiple-skus .preview-image {
  max-height: 60px;
}

.icon-open {
  float: left;
  margin-top: 7px;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  min-width: 23px;
  cursor: pointer;
  margin-right: 5px;
}

.is-closed {
  flex: 0;
  display: none;
}

.closed {
  transform: rotate(270deg);
}
