.main-content{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.users-table{
  width: fit-content;
  margin: auto;
  margin-bottom: 200px;
}


.users-table tr:nth-child(even) {
  background-color: #ddd6d757;
}

.users-table td{
  padding: 5px 15px;
  cursor: pointer;
}

.users-table td{
  padding: 5px 5px;
}



.inactive-row td:first-child {
  border-left: 6px solid #EDB2B2;

}

.active-row td:first-child {
  border-left: 6px solid #64dc9f;
}

.icon-dots{
  margin-right: 20px;
}
.list-users-holder{
  display: flex;
  margin: auto;
}
.list-users{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}
.list-users-title{
  font-size: 16px;
  color: #656565;
  font-weight: bolder;
  vertical-align: super;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}
.list-users-title-count{
  font-size: 16px;
  color: #656565;
  font-weight: bolder;
  vertical-align: super;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  float: right;
}
