<html>
  <%  include ../menus/main-menu %>

  <head>

  </head>

<script>



  window.pendings = <%- JSON.stringify(pendings)%>
  window.blockeds = <%- JSON.stringify(blockeds)%>


</script>


<%


var novo = pendings.map();

%>

  <body>
    <%  include ../menus/pending-menu %>





  </body>
</html>
