<html>
<%  include ../menus/main-menu %>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/picking.css">
  <script type="text/javascript" src="/front/js/control/picking-pendings.js"></script>
    <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
    <script type="text/javascript" src="/front/js/libs/image-preview.js"></script>
    <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>

  <!-- To block a sale -->
  <script type="text/javascript" src="/front/js/libs/selector-dialog.js"></script>
  <script type="text/javascript" src="/front/js/control/blocked/blocked-selector.js"></script>
  <script type="text/javascript" src="/front/js/control/blocked/blocked-post.js"></script>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-selector-dialog.css">
<link rel="stylesheet" type="text/css" href="/front/css/libs/material-dropdown.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-switch.css">

</head>

<body>
  <%  include ../menus/picking-menu %>

  <script>
  window.pendingSales = <%- JSON.stringify(pendingSales || null) %>
  window.wideOpen = <%- wideOpen %>
  </script>

  <%
  if (wideOpen){
    var open = [];
    var solving = [];
    var solved = [];

    pendingSales.forEach(function(pending){
      if (pending.status == 0){
        open.push(pending);
      }else if (pending.status == 1){
        solving.push(pending);
      }else if (pending.status == 2){
        solved.push(pending);
      }
    });
  }

  
  %>


  <div class="main-content no-scroll" style="padding-top:15px; display:flex">
    <% if (wideOpen){%>
      <% pendingSales = open;
         var label = 'Não Atendido';
         var topClass = 'red-top';
      %>
      <%  include ../pending/picking-pendings %>

      <% pendingSales =solving
         var label = 'Em Atendimento';
         var topClass = 'orange-top';
      %>
      <%  include ../pending/picking-pendings %>

      <% pendingSales =solved
         var label = 'Resolvido';
         var topClass = 'green-top';
      %>
      <%  include ../pending/picking-pendings %>
    <%}else{%>
      <%  include ../pending/picking-pendings %>
    <%}%>


  </div>


</body>
</html>
