<html>
  <%  include ../menus/main-menu %>

  <head>

  </head>

<script>



  window.list = <%- JSON.stringify(list)%>



</script>


<%




%>

  <body>
    <%  include ../menus/pending-menu %>


    <div class="main">

      <div class="blockeds">

        <% list.forEach(function(each){ %>

            <div class="box"  data-sku="<%=each.sku%>">

              <div class="top">

                <div class="img-holder">
                  <img class="prod-img" src="/sku-image?sku=<%=each.sku%>"/>
                </div>

                <div class="prod-info">
                   <span><%=each.sku%></span>
                </div>
              </div>

              <div class="bottom">

              </div>


            </div>

          <%});%>


      </div>


      <div class="pendings">

      </div>

    </div>





  </body>
</html>
