<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/front/css/layout/general.css">
    <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
    <link rel="stylesheet" type="text/css" href="/front/css/libs/ripple.min.css">
    <link rel="stylesheet" type="text/css" href="/front/css/layout/login.css">


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/front/js/libs/shake.js"></script>
    <script type="text/javascript" src="/front/js/control/login.js"></script>
    <link href="//fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/front/js/libs/ripple.min.js"></script>

    <title>Hawk</title>
    <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" />
  </head>

  <body>

    <div class="main-content">

      <div class="login-form shadow">
        <div class="img-holder">


          <img src="/img/icon/hawk.png" class="shadow circle" id="logo" />

          <!-- Guest Removed -->
          <!--<img src="/img/avatar.png" class="shadow circle material-ripple" id="guest" title="Convidado" />-->


          <span class="login-title">Hawk Login</span>
        </div>



        <div class="login-els">

          <span class="error">Erro</span>

          <div class="material-input-holder">
            <input type="text" id="user-access" required>

            <span class="bar"></span>
            <label>Código de Acesso</label>
          </div>


          <div class="material-input-holder">
            <input type="text" id="user-pass" required>

            <span class="bar"></span>
            <label>Senha</label>
          </div>



        </div>

      </div>

    </div>



  </body>

</html>
