<!DOCTYPE html>
<%  include ../menus/main-menu %>
<html lang="en" dir="ltr">
<head>
</head>

<script>

function clickFirstMenu(){
  $('li.menu-item a').first()[0].click();
}

clickFirstMenu();
</script>
<body>

</body>
</html>
