<html>
<%  include ../menus/main-menu %>
<%

var isByDate = page.includes('by-date');
var subtitlesArr = Util.getSubtitles(charts);

%>

<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/charts.css">
  <script type="text/javascript" src="/front/js/libs/file-loader.js"></script>
  <script type="text/javascript" src="/front/js/libs/date-picker.js"></script>
  <script type="text/javascript" src="/front/js/control/chart-page.js"></script>
</head>

<body>
<%  include ../menus/picking-menu %>
  <div class="main-content">
    <%  include ../chart/group-chart-render %>

  </div>

</body>

</html>
