<html>
<%  include ../menus/main-menu %>

<body>
  <%
  var subtitlesArr = Util.getSubtitles(data);
  %>
  <%  include ../menus/picking-menu %>
  <div class="main-content">


    <%  include ../achiev/achievements-render %>
  </div>

</body>

</html>
