<div class="avatar-holder">
  <%if (item.imgName !== 'none') {%>
    <a href="/profile/performance?userid=<%=item.tag%>"> 
     <img class="avatar-img circle shadow" src="<%=item.imgName%>" data-src="<%=item.imgName%>" onerror="this.src='/img/avatar.png'"/>
   </a>
  <%}%>
  <span class="label shadow avatar-name"><%=item.label%></span>
</div>
