<% if (chart.getItems().length !== 0){

    chart.getItems().forEach(function(item) {%>
      <div class="chart-bar-holder">
        <div class="chart-bar-group">
          <%- include avatar-chart-render %>
          <%- include bars-chart-render %>
        </div>
      </div>
    <% });
}%>
