<%if (Object.keys(chart.getSums()).length > 0) { %>
  <div class="chart-sum">
    <% Object.keys(chart.getSums()).forEach(function(key){
      var val = chart.getSums()[key].value;
      %>
      <label class="chart-sum-item circle shadow" style="background-color: #<%=val >= 0 ? chart.getSums()[key].color : 'ec7269'%>"> <%=Num.format(chart.getSums()[key].value)%> </label>
      <%})%>

  </div>
  <%}%>
