<div class="title-holder">
  <label class="chart-title"><%=chart.title%></label>

  <%var showCalendar = typeof showCalendarFilter !== 'undefined' && !this.calendarAlreadySpawned;%>

  <label class="chart-label <%= showCalendar ? 'datepicker': ''%>">   <%=chart.label%></label>

  <%this.calendarAlreadySpawned = showCalendar;%>
</div>
