<html>
<script class="hidable-script">
    window.saleNumber = <%= saleNumber %>
    window.paymentTypes = <%- JSON.stringify(paymentTypes) %>
</script>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/customer/sale.css">

  <script type="text/javascript" src="/front/js/control/customer/sale.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>

</head>
<body>
  <div class="loading-sale-modal barberpole-mini-green-background"></div>

  <div class="main-holder sale-dialog">

    <div class="sale-client-info-holder">
      <div class="top-holder">
        <div class="sale-header-holder shadow">
          <div class="sale-header-dots menu-dots"></div>
          <table class="sale-head-table">
            <tr>
              <td>
                <div class="field">
                  <label class="field-title">Número do Pedido</label>
                  <label class="info highlighted sale-number copiable">Carregando</label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Status Magento</label>
                  <label class="info status sale-status"></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Status Eccosys</label>
                  <label class="info sale-situation sale-status"></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Situação</label>
                  <label class="info sale-step"></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Data do Pedido</label>
                  <label class="info sale-date"></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">Pedido Eccosys</label>
                  <label class="info sale-ecco copiable"></label>
                </div>
              </td>

              <td>
                <div class="field">
                  <label class="field-title">NFe</label>
                  <label class="info sale-nfe copiable">########</label>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item  cupom-card shadow">
          <table>
            <tr>
              <th align="left" class="field-title">Descontos</th>
            </tr>

            <tr>
              <td>
                <span class="sale-info-cupom"></span>
              </td>
              <td>
                <span class="sale-info-discount sale-info-cupom right"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <div class="sale-cards-holder">
        <div class="sale-card-item sale-client shadow">
          <div class="title-holder">
            <label class="sale-card-title">Dados do cliente</label>
          </div>
          <table>
            <tr class="divide">
              <td>
                <label class="sale-client-name client-name copiable"></label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="sale-card-title">CPF</label>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-client-social-code client-social-code gray copiable"></span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="sale-card-title">Email</label>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-client-email copiable"></span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="sale-card-title">Data de nascimento</label>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-client-date"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item sale-address shadow">
          <img src="/img/copy.png" class="icon right icon-copy"></img>
          <div class="title-holder">
            <label class="sale-card-title">Endereço de Cobrança</label>
          </div>
          <table>
            <tr>
              <td>
                <span class="sale-card-title">Rua</span>
              </td>
            </tr>
            <tr class="divide">
              <td colspan="2">
                <span class="sale-billing-adress-street"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Bairro</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Comp.</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-billing-adress-bairro"></span>
              </td>
              <td>
                <span class="sale-billing-adress-complemento right"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Cidade</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Estado</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-billing-adress-city"></span>
              </td>
              <td class="right">
                <span class="sale-billing-adress-uf"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">CEP</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Ponto de Ref.</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-billing-adress-postal-code"></span>
              </td>
              <td class="right">
                <span class="sale-billing-reference"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item sale-address shadow">
          <img src="/img/copy.png" class="icon right icon-copy"></img>
          <div class="title-holder">
            <label class="sale-card-title">Endereço de Entrega</label>
          </div>
          <table>
            <tr>
              <td>
                <span class="sale-card-title">Rua</span>
              </td>
            </tr>
            <tr class="divide">
              <td colspan="2">
                <span class="sale-shipping-adress-street"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Bairro</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Comp.</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-shipping-adress-bairro"></span>
              </td>
              <td>
                <span class="sale-shipping-adress-complemento right"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Cidade</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Estado</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-shipping-city"></span>
              </td>
              <td class="right">
                <span class="sale-shipping-uf"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">CEP</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Ponto de Ref.</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-shipping-postal-code"></span>
              </td>
              <td class="right">
                <span class="sale-shipping-reference"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item shadow card-payment">
          <div class="payment-dots menu-dots"></div>
          <div class="title-holder">
            <img class="icon payment-img">
            <span class="sale-card-title">Pagamento</span>
          </div>
          <table>
            <tr>
              <td>
                <span class="sale-card-title">Método</span>
              </td>
              <td>
                <span class="sale-card-title right">Parcelamento</span>
              </td>

            </tr>
            <tr class="divide">
              <td>
                <span class="sale-payment-method"></span>
              </td>
              <td>
                <span class="sale-payment-info right"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Valor Total</span>
              </td>
              <td>
                <span class="sale-card-title right">Status</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-payment-total"></span>
              </td>
              <td>
                <span class="sale-payment-status right sale-status"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item shadow card-transport">
          <div class="transport-dots menu-dots"></div>
          <div class="title-holder">
            <img class="icon" id="transport-img" src="/img/truck.png">
            <span class="sale-card-title">Transportadora</span>
          </div>
          <table>
            <tr>
              <td>
                <span class="sale-card-title">Transp.</span>
              </td>
              <td>
                <span class="sale-card-title right">Método</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-shipping-transport"></span>
              </td>
              <td>
                <span class="sale-shipping-transport-description right"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Entrega Estimada</span>
              </td>
              <td>
                <span class="sale-card-title right">Valor do Frete</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-shipping-transport-delivery"></span>
              </td>
              <td>
                <span class="sale-shipping-transport-cost right"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Peso Total</span>
              </td>
              <td>
                <span class="sale-card-title right">Pedido Coletado</span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-info-weight-total"></span>
              </td>
              <td>
                <span class="sale-info-coleted sale-status info copiable right"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item sale-total shadow">
          <div class="title-holder">
            <span class="sale-card-title">Resumo do Pedido</span>
          </div>
          <table>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Total dos Produtos:</span>
              </td>
              <td>
                <span class="sale-info-subtotal right"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Descontos:</span>
              </td>
              <td>
                <span class="sale-info-discount right"></span>
              </td>
            </tr>
            <tr class="divide tr-frete">
              <td>
                <span class="sale-card-title">Frete:</span>
              </td>
              <td>
                <span class="sale-shipping-transport-cost right"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title total">Total Geral:</span>
              </td>
              <td>
                <span class="sale-info-total right total"></span>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>

    <div class="sale-information-holder">
      <div class="sale-itens-information-holder">
        <div class="sale-itens-holder shadow">
          <div class="sale-itens-table">
            <table class="client-sale-itens">
              <thead>
                <tr class="table-titles sale-table-titles">
                  <th  colspan="2" class="sale-itens-count"></th>
                  <th align="center">Marca</th>
                  <th align="center" class="qtd">Qtd</th>
                  <th align="center">Preço Un.</th>
                  <th align="center">Desconto</th>
                  <th align="center">Peso</th>
                  <th align="center">Total</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

      <div class="sale-history-holder">
        <div class="obs shadow">
          <div class="title-holder">
            <span class="sale-card-title">Observações</span>
          </div>
          <div class="comments-holder">
            <div class="history-comments-table">
            </div>
          </div>
        </div>
        <br>
        <div class="comments-magento shadow">
          <table class="magento-comments-table">
            <thead>
              <tr>
                <th class="comments-table-title" colspan="2" >Histórico</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>


    </div>


  </div>
</body>
</html>
