<html>
<script class="hidable-script">
  window.saleNumber = <%= saleNumber %>
</script>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/customer/sale.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-dropdown.css">

  <script type="text/javascript" src="/front/js/control/customer/sale.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
</head>
<body>
  <div class="loading-sale-modal barberpole-mini-green-background"></div>

  <div class="main-holder sale-dialog">
    <div class="sale-client-info-holder">
      <table class="sale-head-table">
        <tr>
          <td>
            <div class="field">
              <label class="field-title">Número do Pedido</label>
              <label class="info highlighted sale-number copiable">Carregando</label>
            </div>
          </td>

          <td>
            <div class="field">
              <label class="field-title">Status</label>
              <label class="info status"></label>
            </div>
          </td>

          <td>
            <div class="field">
              <label class="field-title">Situação</label>
              <label class="info sale-situation"></label>
            </div>
          </td>

          <td>
            <div class="field">
              <label class="field-title">Etapa</label>
              <label class="info sale-step"></label>
            </div>
          </td>

          <td>
            <div class="field">
              <label class="field-title">Data do Pedido</label>
              <label class="info sale-date"></label>
            </div>
          </td>

          <td>
            <div class="field">
              <label class="field-title">Pedido Eccosys</label>
              <label class="info sale-ecco copiable"></label>
            </div>
          </td>

          <td>
            <div class="field">
              <label class="field-title">NFe</label>
              <label class="info sale-nfe copiable">########</label>
            </div>
          </td>
        </tr>

        <tr>
          <td>

          </td>
        </tr>

      </table>

      <div class="sale-cards-holder">
        <div class="sale-card-item shadow">
          <label class="client-card-title">Dados do cliente</label>
          <table>
            <tr>
              <td>
                <label class="sale-client-name client-name copiable"></label>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-client-social-code client-social-code gray copiable"></span>
              </td>
            </tr>
            <tr>
              <td>
                <label class="sale-card-title">Data de nascimento</label>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-client-date"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item shadow">
          <label class="client-card-title">Endereço de Cobrança</label>
          <table>
            <tr>
              <td colspan="2">
                <span class="sale-billing-adress-street"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-billing-adress-bairro"></span>
              </td>
              <td>
                <span class="sale-billing-adress-complemento right gray"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Cidade</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Estado</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-billing-adress-city"></span>
              </td>
              <td class="right">
                <span class="sale-billing-adress-uf"></span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="sale-billing-adress-postal-code gray"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item shadow">
          <label class="client-card-title">Endereço de Entrega</label>
          <table>
            <tr>
              <td colspan="2">
                <span class="sale-shipping-adress-street"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-shipping-adress-bairro"></span>
              </td>
              <td>
                <span class="sale-shipping-adress-complemento right gray"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">Cidade</span>
              </td>
              <td class="right">
                <span class="sale-card-title">Estado</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-shipping-city"></span>
              </td>
              <td class="right">
                <span class="sale-shipping-uf"></span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="sale-card-title">CEP</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="sale-shipping-postal-code gray"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item shadow card-payment">
          <label class="client-card-title">Pagamento</label>
          <table>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Método: </span>
              </td>
              <td align="center">
                <img class="icon payment-img">
                <span class="sale-payment-method"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Parcelamento: </span>
              </td>
              <td>
                <span class="sale-payment-info right"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Valor Total: </span>
              </td>
              <td>
                <span class="sale-payment-total right"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Status: </span>
              </td>
              <td>
                <span class="sale-payment-status right"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item shadow card-transport">
          <label class="client-card-title">Transportadora</label>
          <table>
            <tr class="divide">
              <td>
                <img class="icon" id="transport-img" src="/img/wait.png">
                <span class="sale-shipping-transport"></span>
              </td>
            </tr>
            <tr class="divide">
              <td colspan="2">
                <span class="sale-shipping-transport-description"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Valor do Frete:</span>
              </td>
              <td>
                <span class="sale-shipping-transport-cost right"></span>
              </td>
            </tr>
          </table>
        </div>

        <div class="sale-card-item shadow">
          <label class="client-card-title">Total do Pedido</label>
          <table>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Subtotal:</span>
              </td>
              <td>
                <span class="sale-info-subtotal right"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Desconto:</span>
              </td>
              <td>
                <span class="sale-info-discount right"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Peso Total:</span>
              </td>
              <td>
                <span class="sale-info-weight-total right"></span>
              </td>
            </tr>
            <tr class="divide">
              <td>
                <span class="sale-card-title">Total Geral:</span>
              </td>
              <td>
                <span class="sale-info-total right"></span>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>

    <div class="sale-information-holder">
      <div class="sale-itens-information-holder">
        <div class="sale-itens-holder shadow">
          <div class="sale-itens-table">
            <table class="client-sale-itens">
              <thead>
                <tr class="table-titles sale-table-titles">
                    <th class="sale-itens-count"></th>
                    <th align="center">Quantidade</th>
                    <th align="center">Preço</th>
                    <th align="center">Desconto</th>
                    <th align="center">Peso</th>
                    <th align="center">Valor Total</th>
                  </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>

    <div class="sale-history-holder">
      <div class="comments-ecco shadow">
        <table class="ecco-comments-table">
          <tr>
            <th class="comments-table-title">Comentários Eccosys</th>
          </tr>
        </table>
      </div>
      <br>
      <div class="comments-magento shadow">
        <table class="magento-comments-table">
          <thead>
            <tr>
              <th class="comments-table-title" colspan="2" >Comentários Magento</th>
            </tr>
          </thead>
          <tr>
            <th class="gray">Data</th>
            <th class="gray">Obs</th>
          </tr>
        </table>
      </div>
    </div>


  </div>
</body>
</html>
