
<script class="hidable-script">
  window.saleNumber = <%= saleNumber %>
</script>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/customer/sale.css">

  <script type="text/javascript" src="/front/js/control/customer/sale.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
</head>
<body>
  <div class="loading-sale-modal barberpole-mini-green-background"></div>


  <table class="sale-head-table">
    <tr>
      <td>
        <div class="field">
          <label class="field-title">Número do Pedido</label>
          <label class="info highlighted sale-number copiable">Carregando</label>
        </div>
      </td>

      <td>
        <div class="field">
          <label class="field-title">Status</label>
          <label class="info status"></label>
        </div>
      </td>

      <td>
        <div class="field">
          <label class="field-title">Situação</label>
          <label class="info sale-situation"></label>
        </div>
      </td>

      <td>
        <div class="field">
          <label class="field-title">Etapa</label>
          <label class="info sale-step"></label>
        </div>
      </td>

      <td>
        <div class="field">
          <label class="field-title">Data do Pedido</label>
          <label class="info sale-date"></label>
        </div>
      </td>

      <td>
        <div class="field">
          <label class="field-title">Pedido Eccosys</label>
          <label class="info sale-ecco copiable"></label>
        </div>
      </td>

      <td>
        <div class="field">
          <label class="field-title">Nfe</label>
          <label class="info sale-nfe copiable">########</label>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        
      </td>
    </tr>

  </table>




</body>
<html>
