
.field {
  vertical-align: middle;
  display: inline-block;
}

.field-title {
  font-size: 13px;
  padding-bottom: 3px;
  color: rgb(116, 114, 116);
  width: fit-content;
  height: fit-content;
}

.info {
  overflow: hidden;
  white-space: pre-wrap;
  width: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  vertical-align: bottom;
  padding: 7px 0;
  border-radius: 5px;
  font-size: 15px;
}

.highlighted {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.sale-header-holder {
  padding: 10px 15px 5px;
  flex: 80;
  position: relative;
  margin-right: auto;
  height: -webkit-fill-available;
}

.sale-head-table {
  width: 98%;
  position: relative;
}

.sale-cards-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  width: auto;
  position: relative;
  grid-gap: 17px;
  margin-top: 20px;
  max-width: 100%;
  text-align: -webkit-auto;
}

.sale-card-item {
  padding: 15px;
  width: auto;
  min-height: 155px;
  position: relative;
}

.client-sale-itens {
  width: 100%;
}

.sale-itens-information td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
  border-bottom: 1px solid #e4e4e4;
}

table {
  width: 100%;
}

.sale-card-title {
  font-size: 13px;
  display: inline;
  font-weight: 600;
  color: #5d5b59;
  vertical-align: super;
  white-space: nowrap;
}

.sale-itens-table .sale-card-title {
  padding-left: 10px;
  padding-top: 10px;
}

.client-sale-itens tr:nth-child(even) {
  background-color: #f2f2f2;
}

.sale-table-titles td {
  padding-top: 10px;
  padding-left: 10px;
}

.sale-table-titles {
  text-align: left;
  margin-left: 3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.sale-table-titles th {
  top: 0;
  padding: 10px 5px;
  color: rgb(116, 114, 116);
  font-size: 12px;
  border-bottom: 1px solid #e4e4e4;
}

.sale-itens-table {
  height: auto;
  max-height: 100%;
}

.sale-itens-information-holder {
  padding-bottom: 15px;
  width: 73%;
  height: auto;
  border-radius: 4px;
}

.sale-itens-count {
  padding-left: 3px;
}

.divide td {
  padding-bottom: 15px;
  font-size: 13px;
}

.sale-information-holder {
  height: 100%;
  display: flex;
  flex: 80;
  padding-top: 20px;
}

.sale-total-info-table {
  width: auto;
  min-height: 155px;
  margin-left: 30px;
  margin-top: 15px;
}

.sale-total-info-table th {
  padding: 15px;
}

.sale-total-info-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 15px;
  color: #191717;
  padding-right: 25px;
}

.icon {
  width: 25px;
  height: 25px;
  vertical-align: sub;
  margin: 0;
}

.sale-shipping-transport {
  vertical-align: super;
}

.menu-dots {
  right: 0;
  margin-top: 0;
  margin-right: 10px;
  display: block;
  position: absolute;
}

.sale-history-holder {
  width: 100%;
  margin-left: 20px;
  flex: 1;
  display: initial;
  height: auto;
  padding-bottom: 15px;
}

.sale-history-holder table {
  width: 100%;
  height: auto;
}

.sale-history-holder table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 12px;
  color: #8e8c8a;
  padding-right: 5px;
  width: fit-content;
}

.sale-history-holder table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.comments-magento {
  max-height: min-content;
}

.comments-holder {
  overflow: auto;
  height: auto;
}

.comments-table-title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: table-cell;
  top: 0;
  font-size: 12px;
  border-bottom: 1px solid #e4e4e4;
  color: rgb(116, 114, 116);
  background: white;
  padding: 8px 10px;
}

.item-add {
  border-width: 1.4px 1.4px 3px;
  border-style: solid;
  border-color: rgb(165, 214, 117);
  border-image: initial;
  background: rgba(182, 199, 107, 0.07);
  border-radius: 3px;
  padding: 3px 6px;
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  color: #807b7b;
  text-transform: capitalize;
}

.item-removed {
  border-width: 1.4px 1.4px 3px;
  border-style: solid;
  border-color: rgb(241, 81, 81);
  border-image: initial;
  background: rgba(182, 199, 107, 0.07);
  border-radius: 3px;
  padding: 3px 6px;
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  color: #807b7b;
  text-transform: capitalize;
}

.sale-dialog {
  display: none;
}

.comment-date {
  white-space: nowrap;
}

.sale-payment-method {
  font-size: 12px;
  vertical-align: super;
  white-space: nowrap;
}

.sale-info-cupom {
  font-size: 12px;
}

.item-name {
  font-size: 13px;
  color: #5f5f5f;
  cursor: grab;
}

.sale-status {
  padding: 5px;
  border-radius: 5px;
  border-width: 1.4px 1.4px 3px;
  border-style: solid;
  background: rgba(182, 199, 107, 0.07);
  white-space: nowrap;
  font-size: 13px;
  margin-top: 6px;
  width: fit-content;
}

.total {
  font-weight: 900;
  color: black;
  font-size: 15px;
}

.title-holder {
  margin-bottom: 7px;
}

.comments:hover {
  background-color: #d8d8d8 !important;
}

.ecco-comments {
  font-size: 12px;
  color: #8e8c8a;
  padding-right: 5px;
  padding-left: 5px;
}

.magento-comments {
  background: #fff4e04f;
}

.item-brand {
  text-align: center;
  color: gray;
  font-size: 12px !important;
}

.obs .title-holder {
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  color: rgb(116, 114, 116);
  background: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px 10px;
}

.comments td span {
  font-size: 11px;
}

.obs .title-holder > span {
  font-size: 12px;
}

.cupom-card {
  flex: 13.7;
  height: auto;
  min-height: auto;
  margin-left: 14px;
}

.top-holder {
  display: flex;
}

.sale-total {
  background: #f2f2f2;
  border-top: 3px solid #009688;
}

.card-transport {
  border-top: 3px solid #00adff;
}

.sale-address {
  border-top: 3px solid #8b00ff;
}

.sale-client {
  border-top: 3px solid #ff9800;
}

.comment-title {
  color: #000000a1;
  font-weight: bold;
  font-size: 12px !important;
  position: relative;
}

.client-notified {
  width: 15px;
  vertical-align: bottom;
  margin-left: 5px;
}

.sale-itens-information:hover {
  background-color: #d8d8d8 !important;
}

.msg-info {
  font-size: 12px;
  vertical-align: super;
  margin-left: 8px;
  color: #929191;
}

.icon-copy {
  filter: grayscale(1);
}

.icon-copy:hover {
  transform: scale(1.2);
  cursor: pointer !important;
}
