
.field{
  margin-bottom: 8px;
  vertical-align: middle;
  display: inline-block;
}

.field-title{
  font-size: 13px;
  padding-bottom: 3px;
  color: rgb(116, 114, 116);
  display: -webkit-box;
  width: fit-content;
  height: fit-content;
}


.info{
  overflow: hidden;
  white-space: pre-wrap;
  width: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  vertical-align: bottom;
}

.highlighted{
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.sale-head-table{
  width: 100%;
  margin: 10px 8px;
  position: relative;
}

.sale-cards-holder{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: fit-content;
  position: relative;
  grid-gap: 15px;
  margin-top: 20px;
  max-width: 100%;
  text-align: -webkit-auto;
  padding-bottom: 20px;
}

.sale-card-item{
  padding: 20px 15px;
  width: auto;
  min-height: 155px;
}

.client-sale-itens{
  width: 100%;
  overflow: auto;
}
.sale-itens-information td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  font-size: 15px;
  color: #191717;
}

table{
  width: 100%;
}

.sale-card-title{
  font-size: 13px;
  position: unset;
  display: contents;
  font-weight: 600;
  color: #5d5b59;
  /* padding: 10px; */
}
.sale-itens-table .sale-card-title{
  padding-left: 10px;
  padding-top: 10px;
}

.client-sale-itens tr:nth-child(even){
  background-color: #f2f2f2;
}

.sale-table-titles td{
  padding-top: 10px;
  padding-left: 10px;
}
.sale-table-titles{
  text-align: left;
  margin-left: 3;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.sale-table-titles th{
  position: sticky;
  top: 0;
  background: #e8e8e8;
  padding: 3px;
  padding-left: 5px;
  color: #302d2d;
  font-size: 15px;
  border-bottom: 0px !important;
  padding: 12px 15px !important;
}
.sale-itens-table{
  overflow: auto;
  height: auto;
  max-height: 98%;
}

.sale-itens-information-holder{
  padding-bottom: 15px;
  width: 70%;
  height: auto;
}

.sale-itens-count{
  padding-left: 3px;
}

.divide td{
  padding-bottom: 15px;
  font-size: 15px;
}
.sale-information-holder{
  height: 100;
  display: flex;
  flex: 80;
  /* overflow: auto; */
  padding-top: 20px;
}

.sale-total-info-table{
  width: auto;
  min-height: 155px;
  margin-left: 30px;
  margin-top: 15px;
}
.sale-total-info-table th{
  padding: 15px;
}
.sale-total-info-table td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 15px;
  color: #191717;
  padding-right: 25px;
}
.icon{
  width: 35px;
  height: 35px;
  vertical-align: sub;
}
.sale-shipping-transport{
  vertical-align: super;
}
.menu-dots{
  float: right;
  margin-top: -5px;
  margin-right: -5px;
  display: inline-block;
}
.sale-history-holder{
  width: 100%;
  margin-left: 2%;
  flex: 1;
  display: initial;
  height: auto;
}

.sale-history-holder table{
  width: 100%;
}
.sale-history-holder table td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  font-size: 12px;
  color: #8e8c8a;
}

.sale-history-holder table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.comments-magento{
  overflow-y: auto;
  max-height: 50%;
}
.comments-ecco{
  overflow: auto;
  max-height: 50%;
}

.comments-table-title{
  background: #e8e8e8;
  padding: 12px 15px !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: table-cell;
  border-bottom: 0px !important;
  color: #302d2d !important;
  font-size: 15px;
  position: sticky;
  top: 0;
}

.changed{
  border-width: 1.4px 1.4px 3px;
  border-style: solid;
  border-color: rgb(182, 199, 107);
  border-image: initial;
  background: rgba(182, 199, 107, 0.07);
  border-radius: 3px;
  padding: 3px 6px;
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  color: #807b7b;
  text-transform: capitalize;
}

.sale-dialog{
  display: none;
}

.comment-date{
  white-space: nowrap;
}

.sale-payment-method{
  font-size: 12px;
  vertical-align: super;
}
.sale-info-cupom{
  font-size: 13px;
}

.item-name{
  font-size: 13px;
  color: #5f5f5f;
}

.Captured{
  padding: 5px;
  border-radius: 5px;
  border-width: 1.4px 1.4px 3px;
  border-style: solid;
  border-color: rgb(137, 228, 73);
  background: rgba(182, 199, 107, 0.07);
}
.Paid{
  background: #91fd91;
  padding: 5px;
  border-radius: 5px;
}
.Generated{
  padding: 5px;
  border-radius: 5px;
  border-width: 1.4px 1.4px 3px;
  border-color: rgb(255, 110, 82);
  background: rgba(182, 199, 107, 0.07);
  border-style: solid;
}
