<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Detalhada</title>
    
    <link rel="icon" href="/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/front/css/layout/performance/detailed-view.css">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/util/number.js"></script>
    <script src="/front/js/control/performance/detailed-view.js"></script>
    <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
    


</head>

<body>

    <div class="all"> 

        <div class="master-info">
            <iframe frameborder="0" src="/templates/viewer?id=84155975" width="100%" scrolling="no"></iframe>
        
            <div class="manufac-details">
        
            </div>
        
            <div class="lasts-details">
                <label id="pic-show">Mostrar Fotos</label>
                <p id="from" class="date">De: </p>
                <p id="to" class="date">Até: </p>
        
                <div class="brands">
                    <h3>Marcas</h3>
        
        
                </div>
        
            </div>
        </div>

        <div class="master-itens">

        </div>

        <div class="footer-details">

        </div>

        


    </div>


</body>

</html>