<!DOCTYPE html>
<html lang="en" dir="ltr">
<%include ../menus/main-menu %>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/performance/sale-dashboard.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/dashboard/general-dash.css">
  <script type="text/javascript" src="/front/js/libs/box-builder.js"></script>
<script type="text/javascript" src="/front/js/libs/tags-handler.js"></script>
  <script type="text/javascript" src="/front/js/control/performance/costs-box-builder.js"></script>
  <script type="text/javascript" src="/front/js/control/dashboard/general-dash.js"></script>
  <script type="text/javascript" src="/front/js/control/performance/sale-dashboard.js"></script>
    <script type="text/javascript" src="/front/js/libs/range-date-picker.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
</head>
<body>
  <%include ../menus/performance-menu %>

<script>
    window.paymentTypes = <%- JSON.stringify(paymentTypes)%>
</script>
  <div class="main">
    <div class="top shadow">
      <div class="search-box">
        <img class="icon-open is-closed" title="Abrir seletor" src="/img/arrow-down.png">
        <input type="text" id="search-input" value="<%=query.value%>" class="simple-material-input" placeholder="Pesquisar Pedidos" autocomplete="off"/>


        <div class="selectors">
            <div class="date-filter-holder"></div>
        </div>


        <label class="button shadow" id="search-button" tabindex="0">Buscar</label>


      </div>

      <div class="tag-box">


      </div>
    </div>


    <div class="content-scroll">

      <span class="no-data">Nenhuma informação foi encontrada com este filtro!</span>

      <div class="content-grid">



      </div>

    </div>

  </div>

</div>

</body>
</html>
