<!DOCTYPE html>
<html lang="en" dir="ltr">
<%include ../menus/main-menu %>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-checkbox.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/performance/general-dash.css">
  <link rel="stylesheet" type="text/css" href="/front/css/layout/performance/stock-dashboard.css">

  <script type="text/javascript" src="/front/js/control/performance/box-builder.js"></script>
  <script type="text/javascript" src="/front/js/control/performance/tags-handler.js"></script>

  <script type="text/javascript" src="/front/js/control/performance/general-dash.js"></script>
  <script type="text/javascript" src="/front/js/control/performance/stock-dashboard.js"></script>

  <script type="text/javascript" src="/front/js/libs/date-picker.js"></script>

  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
  <script type="text/javascript" src="/front/js/libs/dropdown.js"></script>
  <script type="text/javascript" src="/front/js/libs/Chart.min.js"></script>
  <script type="text/javascript" src="/front/js/libs/dash-chart.js"></script>


</head>
<body>
  <%include ../menus/performance-menu %>

  <div class="main">
    <div class="top shadow">
      <div class="search-box">
        <img class="icon-open is-closed" title="Abrir seletor" src="/img/open-down.png">
        <input type="text" id="search-input" value="<%=query.value%>" class="simple-material-input" placeholder="Pesquisar Pedidos" autocomplete="off"/>





        <div class="selectors">

          <div class="material-input-holder">
            <input type="text" id="show-skus" value="25" onkeypress="return Num.isNumberKey(event);" required>
            <span class="bar"></span>
            <label>Mostrar Produtos</label>
          </div>


          <div class="material-input-holder date-begin-holder">
            <input id="date-begin" maxlength="8"
            autocomplete="off"
            value="<%=Dat.format(Dat.today())%>"
            title="Data de Início" required/>

            <span class="bar"></span>
            <label>Data de Início</label>
          </div>


          <div class="material-input-holder date-end-holder">
            <input id="date-end" maxlength="8"
            autocomplete="off"
            value="<%=Dat.format(Dat.today())%>"
            title="Data de Fim" required/>

            <span class="bar"></span>
            <label>Data de Fim</label>
          </div>
        </div>


        <label class="button shadow" id="search-button" tabindex="0">Buscar</label>



        <div class="menu-dots">
          <img src="img/dots.png" class="dots-glyph"/>
        </div>

      </div>

      <div class="tag-box">


      </div>
    </div>


    <div class="content-scroll">

      <span class="no-data">Nenhuma informação foi encontrada com este filtro!</span>

      <div class="content-grid">



      </div>

    </div>

  </div>

</div>

</body>
</html>
