
#search-input {
  flex: 100%;
  width: -webkit-fill-available;
  font-size: 15px;
  margin: 10px;
  position: relative;
}

#search-button {
  flex: auto;
  height: fit-content;
  margin-right: 10px;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  grid-gap: 15px;
  max-width: 100%;
  margin-bottom: 50px;
}

.search-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.tag-box {
  min-height: fit-content;
  padding: 0 10px;
  display: none;
}

img.dots-glyph {
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 5px;
}

.material-input-holder {
  margin-left: 10px;
}

.selectors {
  min-width: fit-content;
  display: flex;
  position: relative;
  background-color: #f3f3f3;
  padding-right: 10px;
  margin-right: 10px;
  padding-top: 5px;
  margin-left: 10px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.tag {
  border-radius: 3px;
  padding: 3px 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 13px;
  color: #807b7b;
  display: inline-block;
  text-transform: capitalize;
  border-width: 1.4px 1.4px 3px;
  border-style: solid;
  border-color: rgb(162, 163, 161);
  border-image: initial;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.tag > * {
  cursor: pointer;
}

.no-data {
  color: gray;
  font-size: 15px;
}

.costs-box {
  display: none;
}

.hide-item:not(.see-more) {
  display: none;
}

.box-img {
  width: 100px;
  height: 100px;
  padding: 2px;
  mix-blend-mode: multiply;
  margin: auto;
  display: block;
}

.box-img:hover {
  background-color: whitesmoke;
}

.box-img-sub {
  background-color: #f3f0f0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 4px;
}

.box-img-sub .right {
  position: absolute;

  /* right: 0; */
  font-size: 11px;
  width: 60px;
  text-align: right;
  top: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box-img-sub .right:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.box-img-score {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ccc7c7;
  border-radius: 50%;
  padding: 3px;
  color: white;
  min-width: 14px;
  text-align: center;
  transform: scale(0.95);
  font-size: 11px;
}

.box-img-col {
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.selectors .material-input-holder > input {
  max-width: 70px !important;
  min-width: 70px !important;
}

.button-area {
  display: block;
}

.search-holder {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 13px;
}

.arrows-holder {
  display: block;
  width: fit-content;
  margin: auto;
}

.sub-high {
  font-size: 13px;
  font-weight: 900;
}

.box-img-sub .super {
  font-size: 13px;
  color: #332f2f;
  font-weight: 900;
}

.bar-label {
  color: gray;
  font-size: 10px;
}

#show-skus {
  min-width: 100px !important;
}
