<html>
<%  include ../../menus/main-menu %>
<head>
  <link rel="stylesheet" type="text/css" href="/front/css/layout/sku-pictures.css">
  <link rel="stylesheet" type="text/css" href="/front/css/libs/material-input.css">

  <script type="text/javascript" src="/front/js/control/sku-pictures.js"></script>
  <script type="text/javascript" src="/front/js/libs/request-helper.js"></script>
</head>
<body>

  <div class="main-content">
    <div class="panels">
      <div class="left-panel shadow">

        <div class="material-input-holder">
          <input type="text" id="insta-post" autocomplete="off" required/>
          <span class="bar"></span>
          <label>Instagram Post</label>
        </div>


        <div class="material-input-holder">
          <input type="text" id="sku" autocomplete="off" required/>
          <span class="bar"></span>
          <label>Sku</label>
        </div>
      </div>

      <div class="main-panel shadow">



      </div>

    </div>
  </div>

</body>
</html>
